.ruby-gemset
.bundle
.env
.env.local
.envrc
.scratch/
context/memory/.basic-memory/
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
db/schema.rb
public/system
*.DS_Store
coverage/*
*.swp
*~
rerun.txt
tags
!.keep
vendor/bundler_gems
bin
.tddium*
.tddium
.tm_properties
