<section class="footer">
  <p>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">faq</a>
    <a href="#">Want to help?</a>
    <% if signed_in? -%>
      <%= link_to "Sign out", sign_out_path, :method => :delete %>
    <% else -%>
      <%= link_to "Sign in", sign_in_path %>
    <% end -%>
  </p>

  <ol class="social-links">
    <li>
      <a class="facebook" href="#"></a>
    </li>
    <li>
      <a class="twitter" href="#"></a>
    </li>
    <li>
      <a class="blog" href="#"></a>
    </li>
  </ol>
</section>
