<section class="footer">
  <ol>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">faq</a>
    </li>
    <li>
      <a href="#">Want to join the Movement?</a>
    </li>
    <li>
      <% if signed_in? -%>
        <%= link_to "Sign out", sign_out_path, :method => :delete %>
      <% else -%>
        <%= link_to "Sign in", sign_in_path %>
      <% end -%>
    </li>
  </ol>

  <ol class="social-links">
    <li>
      <a class="facebook" href="#"></a>
    </li>
    <li>
      <a class="twitter" href="#"></a>
    </li>
    <li>
      <a class="blog" href="#"></a>
    </li>
  </ol>
</section>
