<header class="main" id="header">
  <nav>
    <div class="logo"></div>
    <h1>The Awesome Foundation</h1>
    <ol>
      <li>
      <%= link_to "Apply", new_submission_path, { :class => "apply" } %>
      </li>
      <li>
        <a href="#" class="blog">Blog</a>
      </li>
      <li>
        <a href="#" class="description">Is this for real!?</a>
      </li>
      <li>
        <a href="#" class="chapters">Chapters</a>
      </li>
    </ol>
  </nav>
</header>
