<header class="main" id="header">
  <nav>
    <h1>The Awesome Foundation</h1>
    <ol>
      <li>
        <%= link_to "Apply", new_submission_path %>
      </li>
      <li>
        <a href="#">The Awesome Blog</a>
      </li>
      <li>
        <a href="#">Is this for real!?</a>
      </li>
      <li>
        <a href="#">Funded Projects</a>
      </li>
      <li>
        <a href="#">Chapters</a>
      </li>
  <nav>
</header>
