<section class="awesome-wrapper">
  <section class="tag-line">
    <h1>Forwarding the interst of Awesome in the universe, $1,000 at a time.</h1>
  </section>
  <section class="awesome-projects">
    <% 15.times do %>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
      </a>
    </article>
    <% end %>
  </section>
</section>

<section class="what-how">
  <h2>$127,000 Granted | 127 projects funded</h2>
  <div class="info-graphic">
  </div>
</section>

<section class ="who-where">
  <h2>37 Chapters | 400 trustees</h2>
  <h2>In 9 countries | On 4 continents</h2>
</section>

<section class="news">
</section>


