<% provide(:page_title, t(".title_tag")) %>

<section class="about-wrapper">
  <header>
    <h1><%= t(".headline") %></h1>
    <h2><%= t(".sub_headline") %></h2>
  </header>

  <div class="wrapper">
    <section class="our-story">
      <%= render("locales/about_us").html_safe %>
    </section>
    <section class="contact">
      <%= render("locales/contact").html_safe %>
    </section>
  </div>
</section>
