<% provide(:page_title, t(".title_tag")) %>
<% content_for(:extra_body_classes, 'pages-about_us') %>

<div class="about-wrapper flexbox horizontal wrap justify-space-between">
    <div class="our-story">
      <%= render("locales/about_us").html_safe %>
    </div>
    <div class="contact">
      <div class="get-in-touch">
        <%= render("locales/contact").html_safe %>
      </div>

      <div class="start-a-chapter">
        <%= render("locales/start_a_chapter_blurb").html_safe %>
      </div>
    </div>
</div>
