<% provide(:title, t(".title_tag")) %>
<section class="static-title">
  <h1><%= t(".headline") %></h1>
</section>
<div class="about-wrapper">
  <section class="project-gallery">
    <div class="image-wrapper">
    </div>
  </section>
  <section class="intro">
  <h2><%= t(".sub_headline") %></h2>
  </section>
  <section class="static-description">
    <%= t(".content").html_safe %>
  </section>
</div>
