<section class="static-title">
	<h1>About Us</h1>
</section>

<div class="about-wrapper">

	<section class="project-gallery">
		<div class="image-wrapper">
			<img alt="1" src="/assets/1.JPG"/>
		</div>
	</section>

	<section class="intro">
		<p><strong>The Awesome Foundation for the Arts and Sciences is an ever-growing, worldwide network of people devoted to forwarding the interest of awesomeness in the universe.</strong></p>
	</section>

	<section class="static-description">
		<p>Created in the long hot summer days of 2009 in Boston, the Foundation distributes a series of monthly $1,000 grants to projects and their creators. The money is pooled together from the coffers of ten or so self-organizing “micro-trustees” and given upfront in cash, check, or gold doubloons. The chapters are autonomous and organized by the trustees around geographic areas or topics of interest.</p>

		<p>The Foundation provides these grants with no strings attached and claims no ownership over the projects it supports. It is, in the words of one of our trustees, a micro-genius grant for flashes of micro-brilliance.</p>

		<p>Since its humble beginnings, many <a href="http://awesomefoundation.org/chapters/">Awesome Foundation chapters have sprung up globally</a> to conserve, sustain, and support the worldwide ecosystem of awesomeness. Projects have included efforts in a wide range of areas including technology, arts, social good, and beyond.</p>

		<p><a href="http://www.youtube.com/watch?v=PPoYzyOn44M">We’re still waiting for something with dinosaurs (hint, hint)</a>.</p>
	</section>

</div>