<div class="projects-wrapper">
  <header>
    <h1>Awesome Boston</h1>
    <section class="external-links">
      <ol>
        <li>
          <a class="twitter" href="#"></a>
        </li>
        <li>
          <a class="faceboo" href="#"></a>
        </li>
        <li>
          <a class="blog" href="#"></a>
        </li>
      </ol>
    </section>
  </header>

  <section class="projects">
    <ol>
      <% 6.times do %>
      <li>
        <section class="project">
          <img />
          <div class="meta-data">
          </div>
        </section>
      </li>
      <% end %>
    </ol>
  </section>
</div>

<section class="chapter-info">
  <div class="info-wrapper">
    <header>
      <h1>We Fund Awesome</h1>
    </header>

    <section class="description">
      <article class="about">
        <h2>About Us</h2>
        <p>Want to know when we're having parties and who is getting the ca$h? Check out our blog and follow @awesomebos on Twitter. Curious about what we think is "Awesome"? Take a look at our Tumblr feed: Found Awesome.</p>
      </article>
      <article class="upcoming-events">
        <h2>Upcoming Events</h2>
        <ol>
          <li>
            <p>2/2/12 - Melbourne Grant Party</p>
          </li>
          <li>
            <p>2/8/12 - Boston Awesome Office Hours 2!</p>
          </li>
          <li>
            <p>2/23/12 - Boston January winner announced</p>
          </li>
        </ol>
      </article>
      <article class="rss-feed">
        <h2>Recent Posts</h2>
        <ol>
          <li>
            <p>Awesome Melbourne teams up with Pozible</p>
          </li>
          <li>
            <p>Introducing... Boston's Awesome Office Hours!</p>
          </li>
          <li>
            <p>Montreal's first grant party!</p>
          </li>
        </ol>
      </article>
    </section>

    <section class="trustees">
    </section>
  </div>
</section>
