<% provide(:title, t(".title_tag")) %>
<section class="static-title">
  <h1><%= t(".headline") %></h1>
</section>

<div class="contact-wrapper">

<section class="project-gallery">
  <div class="image-wrapper"></div>
</section>

<section class="static-description">
  <%= t(".content").html_safe %>
</section>

</div>
