<% provide(:page_title, t(".title_tag")) %>

<section class="faq-wrapper">
  <header>
    <h1><%= t(".headline") %></h1>
    <h2><%= t(".sub_headline") %></h2>
  </header>

  <section class="faq-answers">
    <article>
      <%= render("locales/faq").html_safe %>
    </article>
  </section>
</section>
