<section id="static-title">
<h1>Frequently Asked Questions</h1>
</section>

<section id="static-wrap">
<section id="static-details">
<section id="static-description">

<p><!--<div class="h3-helper">&#9733;</div>--><h3 id="info">Information On Applying</h3></p>

<section id="info-1" class="static-section"><p><strong>Is this for real?</strong></p>
<p>Yes.</p></section>

<section id="info-2" class="static-section"><p><strong>How does it work?</strong></p>
<p>Submissions through our application form are placed in a common pool viewable by all chapters. Each chapter meets monthly to select a project to fund. By consensus, trustees determine which project to fund, and the $1,000 fellowship is distributed accordingly. Some chapters also routinely contact applicants for interviews before awarding the fellowships.</p>

<p>Chapters are divided by geography, and more recently by topic of interest. While specifying a chapter to apply to is not necessary (all chapters can view the applications received by all other chapters), many chapters show a preference for local projects.</p></section>

<section id="info-3" class="static-section"><p><strong>Is this a loan/investment?</strong></p>
<p>No. It is a grant with no strings attached. We do not claim any ownership or future claims on your project, nor do we wish for the funds to be repaid.</p></section>

<section id="info-4" class="static-section"><p><strong>Great! Who can apply?</strong></p>
<p>The Awesome Foundation is open to all people and organizations. There are no prerequisites to apply (beyond, of course, being awesome).</p></section>

<section id="info-5" class="static-section"><p><strong>How do I apply?</strong></p>
<p><a href="http://awesomefoundation.org/submissions/new">You can apply online here</a>. The application is straightforward, and is complete-able in 15 minutes or less. Because of the volume of applications, we cannot personally respond to each application individually. But you will receive a super friendly autoreply in your inbox that lets you know the application was accepted by our system.</p></section>

<section id="info-6" class="static-section"><p><strong>What have you funded in the past?</strong></p>
<p>We’ve funded a number of projects since the Foundation was, er, founded. Projects range across a wide spectrum, from public artwork to mobile applications to scientific experiments. You learn more about the grantees and their projects at <a href="http://awesomefoundation.org/blog">the Awesome Foundation blog</a>.</p></section>

<section id="info-7" class="static-section"><p><strong>Is there anything you don’t typically fund?</strong></p>
<p>While the Awesome Foundation keeps an open mind about projects, we’ve found that there’s generally a few types of submissions that chapters have been less willing to fund. However, these are just guidelines–if you think we’d be interested in your awesome project even if it flirts with one of these types, there’s no penalty for submitting anyway!<p>

<p><ol>
<li><strong>Purchases for personal use:</strong> we think you’re really awesome, but we’re probably not going to just give you $1000 for a car/vacation/rent payment/pony...unless it’s the crucial component of a bigger project that also benefits others!</li>
<li><strong>Maintenance fees for established charities and foundations:</strong> While we may support the goals of your established organization, we’re primarily interested in funding projects or new ventures and not the continuation of an existing organization. If your organization/foundation/charity still wants to apply, think of a specific, creative ~$1000 project that our money could go directly towards!</li>
<li><strong>Vague causes and applications:</strong> That is to say, the more specific you are in your application about what you’ll use the money for and why, the more likely we are to fund it!</li>
</ol></p></section>

<section id="info-8" class="static-section"><p><strong>Okay, so, what’s awesome?</strong></p>
<p>Awesome projects are not strictly defined, but tend to challenge and expand our understanding of our individual and communal potentials. They bring communities together, casting aside social inhibitions and boundaries for a moment. They spark an instant of joy and delight and inspire a long-term hope for a more awesome future.</p>

<p>Pretty specific, huh?</p></section>

<p><!--<div class="h3-helper">&#9733;</div>--><h3 id="general">General Awesome Foundation Questions</h3></p>

<section id="general-1" class="static-section"><p><strong>How are you guys funded?</strong></p>
<p>The Awesome Foundation is an entirely independent and self-funded community. Each group of trustees forms a chapter of the Awesome Foundation. Each trustee within those chapters agrees to personally commit to contributing $100 each month to form the single $1,000 grant.</p></section>

<section id="general-2" class="static-section"><p><strong>Who are you guys, and how are chapters organized?</strong></p>
<p>Awesome Foundation trustees are a diverse bunch from a variety of different fields and backgrounds, linked by a common purpose to foster a dynamic of ecosystem of awesomeness.</p>

<p>Most chapters also have an appointed “Dean of Awesome,” who serves as a trustee and is responsible for the logistical needs of the chapter. They’ll usually be your local point of contact if you want to know more about the Foundation, events or proposals.</p>

<p>Since each chapter operates essentially autonomously, local rules might also affect the timing, award amounts, requirements, and other logistics of individual chapters. Contact your local Dean of Awesome.</p></section>

<p><!--<div class="h3-helper">&#9733;</div>--><h3 id="rollout">Rolling Your Own Awesome Foundation Chapter</h3></p>

<section id="rollout-1" class="static-section"><p><strong>Awesomesocks, can I start a chapter?</strong></p>
<p>You certainly can. Just e-mail <a href="mailto:contact@awesomefoundation.org">contact@awesomefoundation.org</a>, tell us about yourself, and we’ll get you set right up. Chapters are mostly self-organizing and autonomous, and we’re a pretty flexible bunch with however you want to launch it.</p></section>

<section id="rollout-2" class="static-section"><p><strong>Can I be a trustee?</strong></p>
<p>Chapters tend to have limited memberships of approximately 10 at any given time to preserve the possibility of consensus. Drop a line to contact@awesomefoundation.org. If there is an open slot, trustees join on assent of the other existing trustees, and make a promise to fulfill three duties.<p>

<p><ol>
<li><strong>Contribution:</strong> Commit $100 per month in the interest of Awesome.</li>
<li><strong>Participation:</strong> To play an active role in accepting applications and collectively deciding who gets them.</li>
<li><strong>Succession:</strong> To commit to finding a replacement micro-trustee, should one need to back out of the obligation of being a micro-trustee of The Awesome Foundation.</li>
</ol></p>

<p>Trustees serve life terms until they resign, lapse in participation, or are otherwise incapacitated. It is an Awesome Foundation naming convention that the first person to hold the chair grants their name to that seat for all other trustees from that point onwards (e.g, the 3rd Matt Blake Chair for Higher Awesome Studies).</p></section>

<section id="rollout-3" class="static-section"><p><strong>Are my trustee grants tax deductible?</strong></p>
<p>As of yet, no.</p></section>

</section></section></section>

<section id="static-sidebar-wrap">

<p>FAQ</p>

<div class="title"><a href="#info"><strong>Information On Applying</strong></a></div><ul>
<li><a href="#info-1">Is this for real?</a></li>
<li><a href="#info-2">How does this work?</a></li>
<li><a href="#info-3">Is this a loan/investment?</a></li>
<li><a href="#info-4">Great! Who can apply?</a></li>
<li><a href="#info-5">How do I apply?</a></li>
<li><a href="#info-6">What have you funded in the past?</a></li>
<li><a href="#info-7">Is there anything you don't typically fund?</a></li>
<li><a href="#info-8">Okay, so, what's awesome?</a></li></ul>

<div class="title"><a href="#general"><strong>General Awesome Foundation Questions</strong></a></div><ul>
<li><a href="#general-1">How are you guys funded?</a></li>
<li><a href="#general-2">Who are you guys, and how are chapters organized?</a></li></ul>

<div class="title"><a href="#rollout"><strong>Rolling Your Own Awesome Foundation Chapter</strong></a></div><ul>
<li><a href="#rollout-1">Awesomesocks, can I start a chapter?</a></li>
<li><a href="#rollout-2">Can I be a trustee?</a></li>
<li><a href="#rollout-3">Are my trustee grants tax deductible?</a></li></ul>

</section>
