<section class="top">
  <section class="titles">
    <h1>The Big Hammock</h1>
    <div class="title-data">
      <p><strong>Fellow:</strong> Hansy Better</p>
      <p><strong>Funded:</strong> August 2010 by Awesome Boston</p>
    <div>
  </section>
</section>

<div class="media-wrapper">
  <section class="project-media">
  </section>
</div>

<section class="project-details">
  <section class="description">
    <h2>Where it all began</h2>
    <p>
      I was awarded the first ever grant of $1,000 from the Awesome Foundation based on my interest in bringing people together through design of public art and objects. The grant supports people doing awesome things around the world and acknowledges the individual that evokes surprises without the prospect of audience or profit.
    </p>
    <h2>Where it all began</h2>
    <p>
      I was awarded the first ever grant of $1,000 from the Awesome Foundation based on my interest in bringing people together through design of public art and objects. The grant supports people doing awesome things around the world and acknowledges the individual that evokes surprises without the prospect of audience or profit.
    </p>
  </section>
  <section class="side-bar">
    <article class="rss-feed">
      <h2>Recent Posts</h2>
      <ol class="feed">
        <li>
          <a href="#"><p>Awesome Melbourne teams up with Pozible</p></a>
        </li>
        <li>
          <a href="#"><p>Introducing... Boston's Awesome Office Hours!</p></a>
        </li>
        <li>
          <a href="#"><p>Montreal's first grant party!</p></a>
        </li>
      </ol>
    </article>
  </section>
</section>
