<% provide(:page_title, t(".title_tag")) %>
<% content_for(:extra_body_classes, 'pages-start-a-chapter') %>

<div class="about-wrapper flexbox horizontal wrap justify-space-between">
    <div class="start-a-chapter">
      <%= render("locales/start_a_chapter").html_safe %>
    </div>
</div>

