<div class="image large-rectangle <%= @project.has_images? ? '' : 'placeholder' %>" data-src="<%= project.display_images[0].url %>">
  <%= image_tag(project.display_images[0].url(:large_rectangle)) %>
</div>