<div class="image large-rectangle <%= @project.has_images? ? '' : 'placeholder' %>" data-src="<%= project.display_images[0].url(:gallery) %>" data-sub-html="<%= project.display_images[0].caption %>">
  <%= image_tag(project.display_images[0].url(:large_rectangle)) %>
</div>