  <div class="funded_on">
    <%= form.input :funded_on, as: :string, id: "project_funded_on", required: local_assigns[:required], hint: local_assigns[:hint] %>
  </div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(window).load(function(){
      $('#project_funded_on').datepicker({dateFormat: 'yy-mm-dd', onClose: function(){ $('#project_funded_on').blur() }});
    });
  <% end %>
<% end %>
