  <div class="input file optional">
    <label class="file optional"><%= t "simple_form.labels.project.new_photos-html" %></label>

    <div class="form__dropzone js-uploader__dropzone"></div>
    <div class="js-uploader__progress-bar"></div>

    <div><%= markdown(local_assigns[:image_notes].presence || t("projects.form.image-notes", :dimensions => Photo::DIMENSIONS[:main])) %></div>
  </div>
