<section class="project-form">
<%= simple_form_for @project, :html => { :multipart => true } do |form| %>
    <%= render :partial => 'form', :locals => { :project => @project, :form => form } %>
    <%= submit_tag t("projects.form.save") %>
  <% end %>
</section>
