<section class="admin-pannel">
</section>

<section class="applications">
  <section class="application-filters">
  </section>
    <% 10.times do %>
      <article class="application">
        <header class="title">
          <h2>Project Title</h2>
          <div class="meta-data">
            <span>Rebecca Fiona</span>
            <span>Boston Mass.</span>
            <span>Boston Chapter</span>
            <span>1/24/12</span>
          </div>
        </header>
        <section class="application-details">
          <div class="project-pitch">
            <p>
            I'll have some artists coming in from out of town and it'll be a great time. Right now I don't have any idea what we'll be painting, but that's the way I like it, and the school principal is fine with that. I know it'll be really colorful. The wall is boring crummy brick and needs some love.
            </p>
          </div>
          <div="details-toggle">
          </div>
        </section>
      </article>
    <% end %>
</section>
