<section class="admin-pannel">
  <%= render :partial => 'shared/sidebar' %>
</section>

<section class="applications">
  <section class="application-filters">
    <nav>
      <label class="chapter-selection" for="chapter-selection">
        <span>Boston</span>
        <span class="arrow"></span>
      </label>
      <input id="chapter-selection" type="checkbox">
      <ol>
        <% 60.times do %>
        <li>
          <a href="#">Boston</a>
        </li>
      <% end %>
      </ol>
    </nav>

    <form accept-charset="UTF-8" action="/projects" class="simple_form filter" method="get">
      <div class="input short-list-toggle">
        <label for="my-short-list">
        <input class="" id="my-short-list" type="checkbox">
        My Short-list</label>
      </div>
      <div class="input string optional date-range">
        <label class="string optional" for="filter_start">start date</label>
        <input class="string optional prefilled" id="filter_start" name="start" size="50" type="text" value="<%= @start_date %>">
      </div>

      <div class="input string optional date-range">
        <label class="string optional" for="filter_end">end date</label>
        <input class="string optional prefilled" id="filter_end" name="end" size="50" type="text" value="<%= @end_date %>">
      </div>

      <input name="" type="submit" value="Filter">
    </form>
  </section>

  <%= render @projects %>

</section>
