<section class="application-intro">
  <h1>Are you ready to get Awesome!?</h1>
  <p>Just fill out the application below with information about your self and the detials of your project.</p>
</section>

<section class="project-form">
  <%= simple_form_for @project, :url => submissions_url, :html => {:multipart => true} do |form| %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <%= submit_tag "Apply" %>
  <% end %>
</section>
