<article href="#" class="chapter">
  <div class="inner-wrapper">
    <h2 class="name"><%= link_to chapter.name, chapter_path(chapter) %></h2>
    <p class="twitter_url"><%= chapter.twitter_url %></p>
    <p class="facebook_url"><%= chapter.facebook_url %></p>
    <p class="blog_url"><%= chapter.blog_url %></p>
  </div>
</article>
