<% provide(:page_title, t(".title")) %>
<div class="flexbox vertical center">
  <section class="chapter-form">
    <h1><%= t ".title" %></h1>
    <%= render 'form', :chapter => @chapter %>
  </section>
</div>
