.about-wrapper {
  margin-right: 1.5em;
  margin-left: 1.5em;

  p {
    color: $lighter-base-font-color;
    font: normal 14px/20px $sans-serif;
  }

  a {
    color: $pink;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    color: $base-font-color;
    text-transform: uppercase;
  }

  h2 {
    color: $base-font-color;
    font: normal 18px/22px $sans-serif;
    margin-bottom: 15px;
    margin-top: 1.5em;
    text-transform: uppercase;
  }

  .our-story {
    margin-right: 3em;
  }

  .our-story,
  .contact {
    max-width: 27em;
  }

  .start-a-chapter {
    margin-top: 40px;
  }
}

/**********************************************/
/*               Responsiveness               */
/**********************************************/

@media (max-width:$maximum-width) {
  .about-wrapper {
    .our-story {
      margin-right: 0em;
    }

    .our-story,
    .contact {
      max-width: 100%;
    }

    .contact {
      margin-top: 2em;
    }
  }
}
