@mixin af-button() {
  @include background-image(linear-gradient(top, rgb(106, 189, 255), rgb(65, 165, 255)));
  border: 1px solid $blue;
  border-radius: 3px;
  color: $base-font-color;
  font: normal 16px/20px $sans-serif;
  margin-bottom: 15px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255, 0.3);

  &:hover {
  }

  &:active {
  }
}
