$gw-column: 60px;
$gw-gutter: 20px;

$serif: Georgia, Cambria, serif;
$sans-serif: 'museo-sans', 'brandon-grotesque', 'proxima-nova', 'Open Sans', 'helvetica neue', sans-serif;

$base-font-color: rgb(55,55,55);
$lighter-base-font-color: rgb(100,100,100);

$pink: rgb(255, 75, 126);
$button-pink: rgb(252, 103, 147);
