$gw-column: 60px;
$gw-gutter: 20px;

$serif: Georgia, Cambria, serif;
$sans-serif: 'museo-sans', 'proxima-nova', $helvetica;

$base-font-color: rgb(55,55,55);
$lighter-base-font-color: rgb(46,46,46);
$muted-color: #ccc;

$pink: rgb(255, 75, 126);
$button-pink: rgb(252, 103, 147);

$blue: rgb(34,122,255); //blue

/***
 * Responsiveness Sizes        
 *
 * Three distinct stop points are defined:
 * maximum-width:   largest size the main body of the page grows to
 * mobile-standard: for layout changes on average mobile phone screens
 * mobile-small:    for additional changes that accommdate very small screens like iPhone 5S
***/

$maximum-width: 60em;   // Equivalent to 969px;
$mobile-standard: 30em; // Equivalent to 480px;
$mobile-small: 20em;    // Equivalent to 320px;
