$gw-column: 60px;
$gw-gutter: 20px;

$serif: Georgia, Cambria, serif;
$sans-serif: 'museo-sans', 'proxima-nova', $helvetica;

$base-font-color: rgb(55,55,55);
$lighter-base-font-color: rgb(46,46,46);

$pink: rgb(255, 75, 126);
$button-pink: rgb(252, 103, 147);

$blue: rgb(34,122,255); //blue
