html, body {
  //background: rgb(245,245,245);
  height: 100%;
}

body {
  section.container {
    margin: 0px auto;
    padding: 70px 0px;
    width: grid-width(12);
  }
}

//*******************************************************************
//
// Application Header
//
//*******************************************************************

header.main {
  border-bottom: 3px solid $pink;
  background: rgb(60,60,60);
  width: 100%;

  nav {
    @extend .clearfix;
    margin: 0 auto;
    position: relative;
    width: grid-width(12);

    a.logo {
      text-decoration: none;

      .fast-forward {
        background: $pink;
        @include border-radius(45px);
        @include box-shadow(0 1px 5px 0 rgba(0,0,0, 0.2));
        display: block;
        height: 90px;
        left: -50px;
        position: absolute;
        @include transition(all, 0.2s, ease-in);
        top: -12px;
        width: 90px;

        img {
          margin: 19px 0 0 20px;
        }
      }

      h1 {
        color: rgb(255,255,255);
        float: left;
        font: 300 20px $sans-serif;
        margin: 14px 0px 0px 0px;
        padding-left: $gw-column;
        text-transform: uppercase;
      }

      &:hover {
        .fast-forward {
          cursor: pointer;
          @include transform(rotate(360deg));
        }

        h1 {
          color: $pink;
        }
      }
    }

    ol {
      height: 100%;
      margin: 0;

      li {
        float: right;
        list-style: none;
        margin: 15px 0px 0px 2px;

        &:last-child {
          margin-left: 0;
        }

        a {
          color: rgb(200,200,200);
          display: block;
          font: bold 14px/16px $sans-serif;
          height: 20px;
          padding: 6px 12px 6px;
          text-decoration: none;
          text-transform: uppercase;
          @include transition(all, 0.15s, linear);

          &:hover {
            background: $pink;
            color: rgb(255,255,255);
          }
        }
      }
    }
  }
}

body {
  &.projects-new {
    a.apply {
      background: $pink;
      color: rgb(255,255,255);
      text-shadow: 0px -1px rgba(0,0,0, 0.2);
    }
  }

  &.chapters {
    a.chapters {
      background: $pink;
      color: rgb(255,255,255);
      text-shadow: 0px -1px rgba(0,0,0, 0.2);
    }
  }

  &.projects-index {
    a.dashboard {
      background: $pink;
      color: rgb(255,255,255);
      text-shadow: 0px -1px rgba(0,0,0, 0.2);
    }
  }
}

//*******************************************************************
//
// Applicaiton Footer
//
//*******************************************************************


section.footer {
  @extend .clearfix;
  border-top: 1px solid rgb(200,200,200);
  height: 200px;
  margin: 0 auto;
  padding-top: 10px;
  width: grid-width(12);

  ol {
    li {
      float: left;
      list-style: none;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
