$gw-column: 60px;
$gw-gutter: 20px;

$serif: Georgia, Cambria, serif;
$sans-serif: 'museo-sans', 'proxima-nova', $helvetica;

$base-font-color: rgb(55,55,55);
$lighter-base-font-color: rgb(46,46,46);

$pink: rgb(255, 75, 126);
$button-pink: rgb(252, 103, 147);

$blue: rgb(34,122,255); //blue

/**
 * Base mobile styling to apply to all dashboard views
 *
 * The idea: three width cutoffs:
 * $wide   = widths lower than that have main container covering the whole screen (which is otherwise centered with paddings)
 * $narrow = iPad portrait and narrower
 * $phone  = iPhone portrait and narrower
 *
 * The $phone cutoff is particularly relevant for the main header nav
 */
$wide:   1060px;
$narrow: 768px;
$phone:  480px;
