html, body {
  height: 100%;
}

body {
  section.container {
    margin: 0px auto;
    padding: 70px 0px;
    width: grid-width(12);
  }
}

header.main {
  border-bottom: 4px solid $pink;
  background: rgb(60,60,60);
  width: 100%;

  nav {
    @extend .clearfix;
    margin: 0 auto;
    position: relative;
    width: grid-width(12);

    .logo {
      background: $pink;
      @include border-radius(45px);
      height: 90px;
      left: -50px;
      position: absolute;
      top: -12px;
      width: 90px;
    }

    h1 {
      color: rgb(255,255,255);
      float: left;
      font: 300 22px $helvetica;
      margin: 15px 0px 0px $gw-column;
      text-transform: uppercase;
    }

    ol {
      height: 100%;
      margin: 0;

      li {
        float: right;
        list-style: none;
        margin: 15px 0px 0px 3px;

        &:last-child {
          margin-left: 0;
        }

        a {
          color: rgb(255,255,255);
          display: block;
          font: bold 11px/16px $helvetica;
          height: 20px;
          opacity: 0.7;
          padding: 8px 15px 6px;
          text-decoration: none;
          text-transform: uppercase;
          @include transition(all, 0.15s, linear);

          &:hover {
            background: $pink;
            opacity: 1;
          }
        }
      }
    }
  }
}

body {
  &.projects-new {
    a.apply {
      background: $pink;
      opacity: 1;
      text-shadow: 0px -1px rgba(0,0,0, 0.2);
    }
  }

  &.chapters {
    a.chapters {
      background: $pink;
      opacity: 1;
      text-shadow: 0px -1px rgba(0,0,0, 0.2);
    }
  }
}

section.footer {
  @extend .clearfix;
  border-top: 1px solid rgb(200,200,200);
  height: 200px;
  margin: 0 auto;
  padding-top: 10px;
  width: grid-width(12);

  ol {
    li {
      float: left;
      list-style: none;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
