.projects-wrapper {
  margin: 0 auto;
  width: grid-width(12);

  header {
    @extend .clearfix;

    h1 {
      float: left;
      font-size: 40px;
    }

    .external-links {
      float: right;
      margin-top: 12px;

      ol {
        margin: 0;

        li {
          float: right;
          list-style: none;
          margin-left: 10px;

          &:last-child {
            margin: 0px;
          }

          a {
            background: transparent;
            display: block;
            height: 30px;
            width: 30px;
          }

          .twitter {
            background: url("social_icons.png");
            background-position: 0px 0px;

            &:hover {
              background-position: 0px -30px;
            }
          }

          .faceboo {
            background: url("social_icons.png");
            background-position: 30px 0px;

            &:hover {
              background-position: 30px -30px;
            }
          }
        }
      }
    }
  }

  .project-gallery {
    @extend .clearfix;

    ol {
      li {
        background: rgb(230,230,230);
        float: left;
        list-style: none;
        margin-bottom: $gw-gutter;
        margin-right: $gw-gutter;
        width: grid-width(4);

        &:nth-child(3n) {
          margin-right: 0px;
        }

        section.project {
          border: 1px solid rgb(200,200,200);
          @include border-radius(5px);
          height: 200px;
          overflow: hidden;

          img {
          }

          .meta-data {
          }
        }
      }
    }
  }
}

.chapter-info-wrapper {
  @include border-image(url('jagged_edge.png')27 repeat);
  background: rgb(230,230,230);
  margin: 70px 0px;

  .chapter-info {
    @extend .clearfix;
    margin: 0 auto;
    padding: 40px 0px;
    width: grid-width(12);

    h1 {
      border-bottom: 1px solid rgb(200,200,200);
      float: none;
      font: normal 40px $serif;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-bottom: 20px;
      text-align: center;
    }

    .description {
      float: left;
      margin-right: $gw-gutter;
      width: grid-width(4);

      article {
        margin-bottom: 30px;

        h2 {
          font-size: 16px;
          margin-bottom: 15px;
        }

        p {
          font: 300 13px/20px $sans-serif;
          margin-bottom: 0px;
        }

        &.about {
          border-bottom: 1px solid rgb(200,200,200);
          padding-bottom: 30px;
        }
      }
    }

    ol.feed {
      margin: 0px;

      li {
        list-style: none;
        margin-bottom: 10px;

        &:last-child {
          margin: 0px;
        }
      }
    }

    .trustees {
      float: left;
      width: grid-width(8);

      ol {
        @extend .clearfix;
        margin: 5px 0 0 0;

        li {
          float: left;
          list-style: none;
          margin: 0 $gw-gutter 30px 0;
          width: grid-width(2);

          &:nth-child(4n) {
            margin-right: 0px;
          }

          article.trustee {
            padding-top: 10px;
            position: relative;

            a {
              text-decoration: none;

              div.avatar {
                background: rgb(50,50,50);
                border: 1px solid rgb(50,50,50);
                @include border-radius(70px);
                @include box-shadow(inset 0 0 5px 0 rgba(0, 0, 0, 0.2));
                display: block;
                height: 115px;
                margin: 0 auto;
                overflow: hidden;
                width: 115px;

                img {
                  height: 115px;
                  width: 115px;
                }
              }

              .trustee-details {
                background: rgba($pink, 0.8);
                @include border-radius(4px);
                left: -15px;
                opacity: 0;
                padding: 8px;
                position: absolute;
                @include transform(rotate(-10deg));
                //@include transition(opacity, 0.1s, ease-out);
                top: 20px;
                width: grid-width(2);

                h3 {
                  color: rgb(255,255,255);
                  font: normal 16px/18px $serif;
                  margin: 0px;
                  text-transform: uppercase;
                  text-align: center;
                }
              }

              &:hover {
                .trustee-details {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
