@media all and (max-device-width: $wide) {
  .owl-wrapper .left, .owl-wrapper .right {
    display: none !important;
  }
}

@media all and (max-device-width: $wide) {
  .chapter-header-wrapper {
    width: 100% !important;
    margin: 0;
  }
}
