.chapter-form {
  form {
    .chapter-admin {
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(200,200,200);
      margin-bottom: 25px;
    }
  }

  .input .error {
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 120%;
    color: $pink;
    margin: 1em 0;
  }
}
