.projects-wrapper {
  margin: 0 auto;
  width: grid-width(12);
}

header {
  @extend .clearfix;

  h1 {
    float: left;
    font-size: 40px;
  }

  .external-links {
    float: right;
    margin-top: 12px;

    ol {
      margin: 0;

      li {
        float: right;
        list-style: none;
        margin-left: 10px;

        &:last-child {
          margin: 0px;
        }

        a {
          background: rgb(230, 230, 230);
          @include border-radius(15px);
          display: block;
          height: 30px;
          width: 30px;

          &:hover {
            background: $pink;
          }
        }
      }
    }
  }
}

.projects {
  @extend .clearfix;

  ol {
    li {
      background: rgb(230,230,230);
      float: left;
      height: 200px;
      list-style: none;
      margin-bottom: $gw-gutter;
      margin-right: $gw-gutter;
      width: grid-width(4);

      &:nth-child(3n) {
        margin-right: 0px;
      }

      section.project {
        img {
        }

        .meta-data {
        }
      }
    }
  }
}

.info-wrapper {
  //background: rgb(230,230,230);
  margin: 60px 0px;

  .chapter-info {
    @extend .clearfix;
    margin: 0 auto;
    padding: 40px 0px;
    width: grid-width(12);

    h1 {
      border-bottom: 1px solid rgb(200,200,200);
      float: none;
      font: normal 40px $serif;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-bottom: 20px;
      text-align: center;
    }

    .description {
      float: left;
      margin-right: $gw-gutter;
      width: grid-width(4);

      article {
        margin-bottom: 30px;

        h2 {
          font-size: 16px;
          margin-bottom: 15px;
        }

        p {
          font: 300 13px/20px $sans-serif;
          margin-bottom: 0px;
        }

        &.about {
          border-bottom: 1px solid rgb(200,200,200);
          padding-bottom: 30px;
        }
      }
    }

    ol.feed {
      margin: 0px;

      li {
        list-style: none;
        margin-bottom: 10px;

        &:last-child {
          margin: 0px;
        }
      }
    }

    .trustees {
      float: left;
      width: grid-width(8);

      ol {
        @extend .clearfix;
        margin: 5px 0 0 0;

        li {
          background: rgb(240,240,240);
          @include border-radius(35px);
          float: left;
          height: 60px;
          list-style: none;
          margin: 0 $gw-gutter 30px 0;
          width: grid-width(4);

          &:nth-child(even) {
            margin-right: 0px;
          }

          article.trustee {
            padding-top: 10px;
            position: relative;

            a.avatar {
              background: white;
              border: 4px solid rgb(200,200,200);
              @include border-radius(35px);
              @include box-shadow(inset 0 0 5px 0 rgba(0, 0, 0, 0.2));
              display: block;
              height: 62px;
              left: 0px;
              position: absolute;
              top: -5px;
              width: 62px;

              &:hover {
                background: $pink;
                border-color: rgba(50,50,50, 1);
              }
            }

            .trustee-details {
              margin-left: 85px;

              h3 {
                font: bold 16px/18px $sans-serif;
                //text-transform: uppercase;
              }

              p {
                font: italic 300 13px $serif;
              }
            }
          }
        }
      }
    }
  }
}
