body.chapters-show {
  section.container {
    background: url('chapter_bg.png');
    background-repeat: repeat-x;
    background-size: contain;
    padding-top: 0px;

    header {
      border-bottom: 1px solid rgb(200,200,200);
      margin: 0 auto;
      padding: 60px 0px 10px;
      width: grid-width(12);
    }

    .inactive-notice {
      margin-top: 2em;
      border: $pink solid 2px;
      background: #fff;
      padding: 10px;
      color: $lighter-base-font-color;
      font: normal 14px/22px $sans-serif;
    }

    .title {
      @extend .clearfix;
      margin: 0 auto;
      padding-bottom: 0px;
      width: grid-width(12);

      h1 {
        color: rgba(55,55,55, 1);
        float: left;
        font: 900 38px/44px $sans-serif;
        margin: 0px;
        text-transform: uppercase;
      }

      a.edit-chapter {
        @include button(rgb(240,240,240));
        float: right;
        margin: 10px 0px 0px 10px;
        text-decoration: none;
        padding: 7px 12px 6px;
      }

      a.apply-chapter {
        @include button(pill, $button-pink);
        float: right;
        margin: 12px 0px 0px 10px;
        text-decoration: none;
        padding: 7px 12px 6px;
      }

      a.external {
        background: transparent;
        display: block;
        float: right;
        height: 25px;
        margin: 12px 0px 0px 10px;
        opacity: 0.7;
        position: relative;
        width: 25px;

        &:hover {
          opacity: 1;
        }

        &:active {
          top: 1px;
        }

        &.twitter {
          background: url("twitter.png");
        }

        &.facebook {
          background: url("fb.png");
        }

        &.email {
          background: url("mail.png");
        }

        &.blog {
          background: url("blog-2.png");
        }
      }
    }
  }

  .owl-dots-wrapper {
    @extend .clearfix;
    margin-top: 20px;

    .owl-dots{
      float: left;
      width: 100%;
    }

    .owl-dots, .owl-nav-round {
      text-align: center;
      -webkit-tap-highlight-color: transparent;
    }

    .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1;
    }

    button.owl-dot {
      background: 0 0;
      color: inherit;
      border: none;
      padding: 0!important;
      font: inherit;
    }

    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
      background: #869791;
    }

    .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 0.2s ease;
      border-radius: 30px;
    }

  }

  .owl-carousel {
    .project {
      width: 500px !important;
    }
  }
}

.gallery-overflow-wrapper {
  overflow: hidden;
  width: 100%;
}

.chapter-header-wrapper {
  height: 300px;
  margin: 0 0 0 auto;
  padding: 40px 0px 0px;
  position: relative;
  width: 95%;

  &:hover {
    .owl-nav-round button {
      opacity: 1;
    }
  }

  .owl-nav-round button {
    background: rgba(0,0,0, 0.6);
    background-position: center center;
    background-repeat: no-repeat;
    @include border-radius(60px);
    display: block;
    height: 120px;
    opacity: 0;
    position: absolute;
    @include transition((opacity, background-color), 0.2s, ease-out);
    top: 130px;
    width: 120px;
    z-index: 3;

    &:hover {
      background-color: rgba($pink, 1);
    }

    &.owl-nav-left {
      background-image: url("arrow_left.png") !important;
      left: -60px;
    }

    &.owl-nav-right {
      background-image: url("arrow_right.png") !important;;
      right: -60px;
      margin-right: 5%;
    }

    &.disabled {
      display: none;
    }
  }

  .gallery-container {
    position: absolute;
  }

  .chapter-projects {
    @extend .clearfix;
    @include inline-block;
    left: 0px;
    position: relative;
    top: 0px;

    .project {
      background: transparent;
      height: auto;
      float: left;
      margin: 0px;
      overflow: hidden;
      width: 500px;

      a {
        text-decoration: none;
      }

      .image-wrapper {
        height: 100%;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        width: auto;
        z-index: 1;

        .project-name {
          background: rgba(0,0,0, 0.5);
          @include box-sizing(border-box);
          padding: 10px;
          position: absolute;
          bottom: 0px;
          width: 100%;

          h2 {
            color: rgb(255,255,255);
            font: normal 26px $sans-serif;
            margin: 0px;
            text-transform: uppercase;
          }

          span {
            color: rgba(255,255,255, 0.7);
            margin-right: 10px;
          }
        }

        &:hover {
          .project-name {
            background: rgba($pink, 1);

            span {
              color: $base-font-color;
            }
          }
        }

        img {
          display: block;
          margin: 0px;
          max-width: 100%;
        }
      }
    }
  }
}

.chapter-info {
  @extend .clearfix;
  margin: 40px auto 40px;
  width: grid-width(12);

  h2 {
    font: normal 18px/22px $sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .divider {
    border-bottom: 1px solid rgb(200,200,200);
  }

  .trustees {
    border-top: 1px solid rgb(200,200,200);
    margin-bottom: 40px;
    padding: 40px 0px 40px;
    width: grid-width(12);

    ol {
      @extend .clearfix;
      margin: 0px;

      li {
        float: left;
        list-style: none;
        margin: 0 $gw-gutter $gw-gutter 0;
        width: grid-width(2);

        &:nth-child(6n) {
          margin-right: 0;
        }

        article.dean {
          div.hat {
            background: url('dean-hat.png');
            background-position: top center;
            background-repeat: no-repeat;
            height: 94px;
            left: -42px;
            position: absolute;
            top: -40px;
            width: 151px;
            z-index: 10;
          }
        }

        article.trustee {
          position: relative;

          a {
            text-decoration: none;

            div.avatar {
              @extend .user-avatar;
            }

            .trustee-details {
              background: rgba($pink, 0.9);
              border: 1px solid rgba($pink, 1);
              @include border-radius(2px);
              @include box-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.3));
              opacity: 0;
              padding: 8px;
              position: absolute;
              top: 80px;
              width: grid-width(2);
              z-index: 3;

              h3 {
                color: rgb(255,255,255);
                font: 300 14px/16px $sans-serif;
                margin: 0px;
                text-transform: uppercase;
                text-align: center;
              }
            }

            &:hover {
              div.avatar {
                @include box-shadow(0 1px 6px 0 rgba(0, 0, 0, 0.2));
                top: -5px;
              }

              div.hat {
                top: -45px;
              }

              .trustee-details {
                opacity: 1;
              }
            }
          }
        }

        &:nth-child(even) {
          a:hover {
            .trustee-details {
              left: -4px;
              @include transform(rotate(-10deg));
            }
          }
        }

        &:nth-child(odd) {
          a:hover {
            .trustee-details {
              left: -12px;
              @include transform(rotate(7deg));
            }
          }
        }
      }
    }
  }

  .description {
    @extend .clearfix;
    margin: 0px auto 40px;
    width: grid-width(12);

    article {
      float: left;

      &.half {
        width: grid-width(6);
      }

      h2 {
        font: normal 18px/22px $sans-serif;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/22px $sans-serif;
      }

      &.about {
        margin-right: $gw-gutter;
      }

      &.rss-feed {
      }
    }
  }

  ol.feed {
    margin: 0px;
    padding: 0px 0px 30px;

    li {
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:last-child {
        margin: 0px;
      }

      span.post-date {
        margin-right: 12px;
        font: normal 14px/20px $serif;
      }

      a {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;
        text-decoration: none;

        &:hover {
          color: $pink;
        }
      }
    }
  }
}

.chapter-apply {
  @extend .clearfix;
  padding-top: 40px;
  border-top: 1px solid rgb(200,200,200);
  width: grid-width(12);
  margin: 0 auto;

  .apply-button {
    margin: 0 auto;
    width: grid-width(6);

    a {
      @include button(pill, $button-pink);
      font: normal 18px/22px $sans-serif;
      width: 100%;
      display: block;

      text: {
        decoration: none;
        align: center;
        transform: uppercase;
      }
    }
  }
}