body.chapters-show {
  section.container {
    width: 100%;
  }
}

.projects-wrapper {
  margin: 0 auto;
  width: grid-width(12);

  header {
    @extend .clearfix;

    h1 {
      float: left;
      font: 300 40px $sans-serif;
      text-transform: uppercase;

      a {
        color: rgb(55,55,55);
        font: 300 18px $sans-serif;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $pink;
        }
      }
    }

    .external-links {
      float: right;
      margin-top: 12px;

      ol {
        margin: 0;

        li {
          float: right;
          list-style: none;
          margin-left: 10px;

          &:last-child {
            margin: 0px;
          }

          a {
            background: transparent;
            display: block;
            height: 30px;
            width: 30px;
          }

          .twitter {
            background: url("social_icons.png");
            background-position: 0px 0px;

            &:hover {
              background-position: 0px -30px;
            }
          }

          .faceboo {
            background: url("social_icons.png");
            background-position: 30px 0px;

            &:hover {
              background-position: 30px -30px;
            }
          }
        }
      }
    }
  }

  .project-gallery {
    background: rgb(240,240,240);
    border: 2px solid rgb(50,50,50);
    //@include box-shadow(0 0 15px 0 rgb(255,255,255));
    height: 470px;
    overflow: hidden;
    width: grid-width(12);
    @extend .clearfix;

    img {
      min-width: grid-width(12);
    }

    ol {
      li {
        background: rgb(230,230,230);
        float: left;
        list-style: none;
        margin-bottom: $gw-gutter;
        margin-right: $gw-gutter;
        width: grid-width(4);

        &:nth-child(3n) {
          margin-right: 0px;
        }

        section.project {
          border: 1px solid rgb(200,200,200);
          @include border-radius(5px);
          height: 200px;
          overflow: hidden;

          img {
          }

          .meta-data {
          }
        }
      }
    }
  }
}

.chapter-info-wrapper {
  border: 1px solid rgb(200,200,200);
  //@include border-image(url('jagged_edge.png')27 repeat);
  background: rgb(255,255,255);
  margin: 100px 0px 0px;

  .chapter-info {
    @extend .clearfix;
    margin: 0 auto;
    padding: 40px 0px 80px;
    width: grid-width(12);

    h1 {
      border-bottom: 1px solid rgb(200,200,200);
      float: none;
      font: 300 40px $sans-serif;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-bottom: 20px;
      text-align: center;
    }

    .trustees {
      margin: 50px auto 40px;
      width: grid-width(10);

      ol {
        @extend .clearfix;
        margin: 0px;

        li {
          float: left;
          list-style: none;
          margin: 0 $gw-gutter 30px 0;
          width: grid-width(2);

          &:nth-child(5n) {
            margin-right: 0px;
          }

          article.trustee {
            position: relative;

            a {
              text-decoration: none;

              div.avatar {
                background: rgb(220,220,220);
                border: 6px solid white;
                @include border-radius(70px);
                @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.2));
                display: block;
                height: 122px;
                margin: 0 auto;
                overflow: hidden;
                width: 122px;

                img {
                  max-width: 122px;
                }
              }

              .trustee-details {
                background: rgba($pink, 0.8);
                @include border-radius(4px);
                left: -15px;
                opacity: 0;
                padding: 8px;
                position: absolute;
                @include transform(rotate(-10deg));
                @include transition(opacity, 0.1s, ease-out);
                top: 20px;
                width: grid-width(2);

                h3 {
                  color: rgb(255,255,255);
                  font: 300 16px/18px $sans-serif;
                  margin: 0px;
                  text-transform: uppercase;
                  text-align: center;
                }
              }

              &:hover {
                .trustee-details {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .description {
      @extend .clearfix;
      border-top: 1px solid rgb(200,200,200);
      margin: 0 auto;
      padding-top: 50px;
      width: grid-width(10);

      article {
        float: left;
        margin-right: $gw-gutter;
        width: grid-width(4);

        &:last-child {
          margin: 0px;
        }

        h2 {
          font-size: 16px;
          margin-bottom: 15px;
        }

        p {
          font: 300 14px/20px $sans-serif;
          margin-bottom: 0px;
        }

        &.about {
          padding-bottom: 30px;
          width: grid-width(6);
        }
      }
    }

    ol.feed {
      margin: 0px;

      li {
        list-style: none;
        margin: 0px 0px 5px 0px;

        &:last-child {
          margin: 0px;
        }

        a {
          text-decoration: none;

          &:hover {
            color: $pink;
          }
        }
      }
    }

  }
}
