@media all and (max-device-width: $maximum-width) {
  .owl-wrapper .owl-nav-round {
    display: none !important;
  }
}

@media all and (max-device-width: $maximum-width) {
  .chapter-header-wrapper {
    width: 100% !important;
    margin: 0;
  }
}
