.faq-wrapper {
  margin-right: 1.5em;
  margin-left: 1.5em;

  header {
    h1 {
      color: $base-font-color;
      font: bold 38px/44px $sans-serif;
      margin: 0;
      padding-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .faq-answers {
    max-width: 45em;

    article {
      &:target {
        h3 {
          color: $pink;
        }
      }

      h3 {
        color: $base-font-color;
        font: normal 18px/22px $sans-serif;
        margin-bottom: 10px;
        margin-top: 40px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;
      }

      a {
        color: $pink;
        font: normal 14px/20px $sans-serif;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
