.faq-wrapper {
  @include clearfix();

  header {
    border-bottom: 3px solid rgb(220,220,220);
    margin: 0 auto;
    width: grid-width(12);

    h1 {
      color: $base-font-color;
      font: bold 38px/44px $sans-serif;
      margin: 0;
      padding-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      color: $lighter-base-font-color;
      font: normal italic 14px/16px $serif;
      padding-bottom: 20px;
      text-align: center;
    }
  }

  .faq-answers {
    width: grid-width(9);
    margin: 0 auto;

    .answer-block {
      margin-bottom: 80px;
    }

    h2 {
      border-bottom: 3px solid $pink;
      color: $base-font-color;
      font: normal 26px/30px $sans-serif;
      margin-bottom: 0px;
      padding-bottom: 5px;
    }

    article {
      &:target {
        h3 {
          color: $pink;
        }
      }

      h3 {
        color: $base-font-color;
        font: normal 18px/22px $sans-serif;
        margin-bottom: 10px;
        margin-top: 40px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;
      }

      a {
        color: $pink;
        font: normal 14px/20px $sans-serif;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      ol {
        list-style: disc;
        margin: 0;
        padding: 10px 0px 10px 15px;
      }
    }

  }
}
