body.finalists-index {
  section.container {
    @extend .clearfix;
  }
  
  @media all and (max-width: $maximum-width) {
    section.container {
      margin-top: 0.5em !important;
    }
  }
}

section.applications {
  table {
    font-family: $sans-serif;
    font-size: 0.8em;
    
    tr {
      td, th {
        &:first-child {
          width: 75%;
        }
        
        &:nth-child(2) {
          width: 15%;
        }
        
        &:nth-child(3) {
          width: 10%;
        }

        &.vote-count {
            text-align: center;
        }

        a {
          font-weight: bold;
          color: rgb(55,55,55);
          text-decoration: none;

          &:hover {
            color: $pink;
          }
        }
        .winner {
          color: $pink;
        }
        .sorted:after {
            content: ' \21c5';
        }

      }
      th {
          white-space: nowrap;
      }
    }
  }
}
