body.home-index {
  section.container {
    padding-top: 0px;
    width: 100%;
  }
}

.awesome-wrapper {
  margin: 0 auto 80px;
  position: relative;

  .awesome-projects {
    @extend .clearfix;
    font-size: 0px;
    margin-left: 10px;
    min-width: grid-width(12);

    .tagline {
      @extend .animation-tagline-enter;
      @include inline-block;
      position: relative;
      width: 60%;
      vertical-align: top;

      .inner-wrapping {
        background: url('chapter_bg.png');
        background-repeat: repeat-x;
        background-size: cover;
        height: 100%;
        margin: 10px 10px 0 0;
        overflow: hidden;
        width: auto;

        .wrapper-2 {
          background: rgba(0,0,0, 0.7);
          display: table;
          height: 100%;
          width: 100%;

          .message {
            display: table-cell;
            vertical-align: middle;

            h1 {
              color: rgba(255,255,255, 1);
              font: normal 18px/22px $sans-serif;
              margin-bottom: 10px;
              text-align: center;
              text-transform: uppercase;
            }
          }

          &:hover {
            background: rgba(0,0,0, 0.8);
          }
        }
      }
    }


    .project {
      @extend .animation-tilefill;
      @include transition;
      background: transparent;
      @include inline-block;
      margin: 0px;
      overflow: hidden;
      position: relative;
      width: 20%;
      vertical-align: top;

      $t: 0.05s;
      $delay: 2s;

      @for $child from 1 through 15 {
        &:nth-child(#{$child}) {
          @include animation-delay($delay);
        }
        $delay: $delay + $t;
      }

      .image-wrapper {
        display: block;
        height: 100%;
        margin: 10px 10px 0px 0px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        width: auto;
        z-index: 1;

        .funding-chapter {
          background: rgba(0,0,0, 0.4);
          bottom: 0px;
          position: absolute;
          width: 100%;

          h3 {
            color: rgba(255,255,255, 0.8);
            font: normal 14px/14px $sans-serif;
            margin: 0px;
            padding: 8px 10px;
            text-transform: uppercase;

            img {
              @include inline-block;
              margin-right: 5px;
              vertical-align: bottom;
            }
          }
        }

        .project-name {
          background: $pink;
          @include box-sizing(border-box);
          height: 100%;
          opacity: 0;
          padding: 10px;
          position: absolute;
          top: 0px;
          width: 100%;

          h2 {
            color: rgb(255,255,255);
            font: normal 22px $sans-serif;
            margin: 0px;
            text-transform: uppercase;

            @media screen and (max-width: 940px) {
              font: normal 18px $sans-serif;
            }
          }

          p {
            color: $base-font-color;
            font-size: 12px;
          }
        }

        &:hover {
          .project-name {
            opacity: 1;
          }

          .funding-chapter {
            background: rgba(0,0,0, 0);
          }
        }

        img {
          display: block;
          margin: 0px;
          max-width: 100%;
        }
      }
    }
  }
}

.what-how,
.who-where {
  @extend .animation-content-appear;
  width: grid-width(12);

  hgroup {
    border-bottom: 3px solid rgb(220,220,220);
    margin-bottom: 50px;
  }

  h2 {
    color: $base-font-color;
    font: 500 32px/48px $sans-serif;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

    em {
      color: $pink;
      font: bold 48px/48px "museo-sans", "brandon-grotesque", "proxima-nova", "Open Sans", "helvetica neue", sans-serif;
    }

    span.divider {
      font: 500 48px/48px $sans-serif;
    }
  }
}

.what-how {
  margin: 0 auto 120px;

  .need-funding {
    @include clearfix();
    margin-bottom: 60px;

    .description {
      float: left;
      margin-right: $gw-gutter;
      width: grid-width(6);

      h3 {
        color: $base-font-color;
        font: normal 18px/22px $sans-serif;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;

        strong {
          color: $pink;
        }
      }
    }

    .info-graphic {
      float: left;
      width: grid-width(6);

      .graphic {
        border: 1px dashed rgb(200,200,200);
        @include border-radius(4px);
        height: 70px;
        padding: 15px 0px;
        width: 100%;

        img {
          display: block;
          margin: 0 auto;
          width: 352px;
        }
      }
    }
  }

  .call-to-action {
    background: rgb(240,240,240);
    border: 1px solid rgb(200,200,200);
    @include border-radius(4px);
    @include box-shadow(inset 0 0 5px 0 rgba(0,0,0, 0.15));
    padding: 20px;

    a {
      @include button($button-pink);
      display: block;
      font: normal 18px/22px $sans-serif;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 20px 0px;
      width: 100%;
    }
  }
}

.who-where {
  margin: 0 auto 160px;

  .about-preview {
    @extend .clearfix;
    //border-bottom: 3px solid rgb(220,220,220);
    padding-bottom: 40px;

    .intro {
      float: left;
      width: grid-width(6);

      h3 {
        color: $base-font-color;
        font: normal 18px/22px $sans-serif;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;
      }
    }

    .mini-map {
      float: left;
      margin-right: $gw-gutter;
      padding-top: 5px;
      width: grid-width(6);

      img {}
    }
  }
}

.news {
  @extend .animation-content-appear;
  background: rgb(240,240,240);
  border: 1px solid rgb(200,200,200);
  @include border-radius(4px);
  @include box-shadow(inset 0 0 5px 0 rgba(0,0,0, 0.15));
  margin: 0 auto;
  position: relative;
  width: grid-width(12);

  header {
    background-image: url('awesome-news-banner.png');
    background-position: top center;
    background-repeat: no-repeat;
    height: 70px;
    margin: 0 auto;
    padding: 16px 0px 0px;
    position: absolute;
    top: -40px;
    width: 100%;

    h2 {
      color: rgb(255,255,255);
      font: bold italic 48px/52px $sans-serif;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .feed-wrapper {
    @extend .clearfix;
    padding: 80px grid-width(1) 50px;
  }

  .rss, .events {
    float: left;
    margin: 0 $gw-gutter;

    &.rss {
      //border-right: 1px dashed rgb(200,200,200);
      width: grid-width(5);
    }

    &.events {
      margin-left: 0px;
      width: grid-width(5);
    }

    .inner-wrapper {
      padding: 0px $gw-gutter;
    }

    h3 {
      font: normal 18px/22px $sans-serif;
      margin-bottom: 20px;
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    ol.feed {
      margin: 0px;

      li {
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:last-child {
          margin: 0px;
        }

        span.post-date {
          margin-right: 12px;
          font: normal 14px/20px $serif;
        }

        a {
          color: $pink;
          font: bold 14px/20px $sans-serif;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.awesome-chapters {
  display: none;
  @include border-radius(4px);
  @include column-count(4);
  @include column-gap($gw-gutter);
  @include column-width(grid-width(3));
  margin: 0 auto;
  padding-top: 40px;
  width: grid-width(12);

  a {
    color: $base-font-color;
    display: block;
    font: bold 14px/20px $sans-serif;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }
}
