body.home-index {
  section.container {
    padding-top: 0px;
    width: 100%;
  }
}

.awesome-wrapper {
  background: rgb(245,245,245) url('worldmap.png');
  background-position: cover;
  background-repeat: repeat-x;
  background-size: contain;
  border-bottom: 1px solid rgb(200,200,200);
  margin: 0 auto;
  padding-bottom: 60px;
  position: relative;

  .tag-line {
    margin: 0px 10px;
    width: auto;

    h1 {
      color: rgba(55,55,55, 1);
      font: 900 38px/44px $sans-serif;
      margin: 0px auto;
      padding: 35px 20px;
      text-align: center;
      text-transform: uppercase;
      width: grid-width(12) - 40px;
    }

    &:hover {
    }
  }

  .awesome-projects {
    @extend .clearfix;
    margin-left: 10px;

    .project {
      background: transparent;
      float: left;
      margin: 0px;
      overflow: hidden;
      position: relative;
      width: 20%;

      .image-wrapper {
        display: block;
        height: 100%;
        margin: 10px 10px 0px 0px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        width: auto;
        z-index: 1;

        .funding-chapter {
          background: rgba(0,0,0, 0.4);
          bottom: 0px;
          position: absolute;
          width: 100%;

          h3 {
            color: rgba(255,255,255, 0.8);
            font: normal 14px/14px $sans-serif;
            margin: 0px;
            padding: 8px 10px;
            text-transform: uppercase;

            img {
              @include inline-block;
              margin-right: 5px;
              vertical-align: bottom;
            }
          }
        }

        .project-name {
          background: $pink;
          @include box-sizing(border-box);
          height: 100%;
          opacity: 0;
          padding: 10px;
          position: absolute;
          top: 0px;
          width: 100%;

          h2 {
            color: rgb(255,255,255);
            font: normal 22px $sans-serif;
            text-transform: uppercase;
          }

          p {
            color: rgb(255,255,255);

            span {
              color: $base-font-color;
            }
          }
        }

        &:hover {
          .project-name {
            opacity: 1;
          }

          .funding-chapter {
            background: rgba(0,0,0, 0);
          }
        }

        img {
          display: block;
          margin: 0px;
          max-width: 100%;
        }
      }
    }
  }
}

.what-how {
  border-bottom: 1px solid rgb(220,220,220);
  margin: 0 auto 20px;
  padding: 60px 0px;
  width: grid-width(12);

  h2 {
    font: bold 48px/48px $sans-serif;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    span {
      color: rgb(180,180,180);
      font: 500 32px/48px $sans-serif;

      &.divider {
        font: 500 48px/48px $sans-serif;
      }
    }
  }

  .info-graphic {
    @extend .clearfix;
    background: rgb(240,240,240);
    @include border-radius(4px);
    height: auto;
    margin: 0 auto;
    padding: 20px 0px;

    > div {
      border-right: 1px dashed rgb(200,200,200);
      float: left;
      margin-right: $gw-gutter;
      width: grid-width(4) - 1;

      &:last-child {
        border: none;
        margin: 0;
      }

      img {
        display: block;
        margin: 0 auto 30px;
      }

      h3 {
        font: 300 24px/28px $sans-serif;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.who-where {
  border-bottom: 1px solid rgb(220,220,220);
  margin: 0 auto 120px;
  padding: 60px 0px;
  width: grid-width(12);

  h2 {
    font: bold 48px/48px $sans-serif;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    span {
      color: rgb(180,180,180);
      font: 500 32px/48px $sans-serif;

      &.divider {
        font: 500 48px/48px $sans-serif;
      }
    }
  }

  .about-preview {
    p {
      font: normal 14px/20px $sans-serif;
      width: grid-width(6);
    }
  }
}

.news {
  background: rgb(240,240,240);
  margin: 0 auto;
  width: grid-width(12);

  header {
    background: rgb(200,200,200);
    margin: 0 auto;
    padding: 10px 0px;
    position: relative;
    top: -40px;
    width: grid-width(10);

    h2 {
      font: 900 italic 48px/52px $sans-serif;
      text-align: center;
    }
  }

  .feed-wrapper {
    @extend .clearfix;
    padding: 10px grid-width(1) 40px;
  }

  .rss, .events {
    float: left;
    margin: 0 $gw-gutter;
    width: grid-width(5);

    &.events {
      margin-left: 0px;
    }

    h3 {
      border-bottom: 1px solid rgb(200,200,200);
      margin-bottom: 20px;
      padding-bottom: 5px;
      text-align: center;
    }

    ol {
      background: white;
      padding: 10px;

      li {
        list-style: none;
      }
    }
  }
}
