body.home-index {
  section.container {
    padding-top: 0px;
    width: 100%;
  }
}

.awesome-wrapper {
  margin: 0 auto 80px;
  position: relative;

  .awesome-projects {
    @extend .clearfix;
    font-size: 0px;
    margin-left: 10px;

    .tagline {
      @extend .animation-tagline-enter;
      display: inline-block;
      position: relative;
      width: 60%;
      vertical-align: top;

      .inner-wrapping {
        background: image-url('chapter_bg.png');
        background-repeat: repeat-x;
        background-size: cover;
        height: 100%;
        margin: 10px 10px 0 0;
        overflow: hidden;
        width: auto;

        .wrapper-2 {
          background: rgba(0,0,0, 0.7);
          display: table;
          height: 100%;
          width: 100%;

          .message {
            display: table-cell;
            vertical-align: middle;

            h1 {
              color: rgba(255,255,255, 1);
              font: normal 18px/22px $sans-serif;
              margin-bottom: 0px;
              margin-left: 1.5em;
              margin-right: 1.5em;
              text-align: center;
              text-transform: uppercase;
            }
          }

          &:hover {
            background: rgba(0,0,0, 0.8);
          }
        }
      }
    }

    .project {
      @extend .animation-tilefill;
      @include transition;
      background: transparent;
      display: inline-block;
      margin: 0px;
      overflow: hidden;
      position: relative;
      width: 20%;
      vertical-align: top;

      $t: 0.05s;
      $delay: 2s;

      @for $child from 1 through 15 {
        &:nth-child(#{$child}) {
          @include animation-delay($delay);
        }
        $delay: $delay + $t;
      }

      .image-wrapper {
        display: block;
        height: 100%;
        margin: 10px 10px 0px 0px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        width: auto;
        z-index: 1;

        .funding-chapter {
          background: rgba(0,0,0, 0.4);
          bottom: 0px;
          position: absolute;
          width: 100%;

          h3 {
            color: rgba(255,255,255, 0.8);
            font: normal 14px/14px $sans-serif;
            margin: 0px;
            padding: 8px 10px;
            text-transform: uppercase;

            img {
              display: inline-block;
              margin-right: 5px;
              vertical-align: bottom;
            }
          }
        }

        .project-name {
          background: $pink;
          @include box-sizing(border-box);
          height: 100%;
          opacity: 0;
          padding: 10px;
          position: absolute;
          top: 0px;
          width: 100%;

          h2 {
            color: rgb(255,255,255);
            font: normal 22px $sans-serif;
            margin: 0px;
            text-transform: uppercase;

            @media screen and (max-width: 940px) {
              font: normal 18px $sans-serif;
            }
          }

          p {
            color: $base-font-color;
            font-size: 12px;
          }
        }

        &:hover {
          .project-name {
            opacity: 1;
          }

          .funding-chapter {
            background: rgba(0,0,0, 0);
          }
        }

        img {
          display: block;
          margin: 0px;
          max-width: 100%;
        }
      }
    }
  }
}

.what-how,
.who-where {
  @extend .animation-content-appear;
  max-width: $maximum-width;
  width: 100%;

  hgroup {
    border-bottom: 2px solid rgb(220,220,220);
    margin-bottom: 50px;
    margin-right: 1.5em;
    margin-left: 1.5em;
  }

  h2 {
    color: $base-font-color;
    font: 500 32px/48px $sans-serif;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

    em {
      color: $pink;
      font: bold 48px/48px $sans-serif;
    }

    span.divider {
      @include background-image(linear-gradient(-90deg, rgba($base-font-color, 0) 0%, rgba($base-font-color, 0.5) 25%, rgba($base-font-color, 0.6) 50%, rgba($base-font-color, 0.6) 75%, rgba($base-font-color, 0) 100%));
      display: inline-block;
      height: 60px;
      margin: 0px 10px -15px;
      width: 1px;
    }
  }
}

.call-to-action {
  @extend .animation-content-appear;
  
  max-width: grid-width(12) - 40;
  width: 100%;

  .button-wrapper {
    background: rgb(240,240,240);
    border: 1px solid rgb(210,210,210);
    border-radius: 4px;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0, 0.1);
    margin-bottom: 100px;
    padding: 20px;
    margin-right: 1.5em;
    margin-left: 1.5em;
    
    a {
      @include button($button-pink);
      display: block;
      font: normal 18px/22px $sans-serif;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 20px;
    }
  }
  
}

.what-how {

  .need-funding {
    margin-right: 1.5em;
    margin-left: 1.5em;

    .description {
      max-width: 26em;
      margin-bottom: 4em;

      h3 {
        color: $base-font-color;
        font: normal 18px/22px $sans-serif;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;

        strong {
          color: $pink;
        }
      }
    }

    .info-graphic {
      max-width: 26em;
      width: 100%;
      margin-bottom: 4em;

      .graphic {
        border: 1px dashed rgb(200,200,200);
        border-radius: 4px;
        padding: 15px 0px;
        width: 100%;

        img {
          display: block;
          margin: 0;
          width: 352px;
        }
      }
    }
  }
}

.who-where {

  .about-preview {
    margin-right: 1.5em;
    margin-left: 1.5em;
    
    .intro {
      max-width: 26em;
      margin-top: 1em;
      margin-bottom: 1em;
      
      h3 {
        color: $base-font-color;
        font: normal 18px/22px $sans-serif;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      p {
        color: $lighter-base-font-color;
        font: normal 14px/20px $sans-serif;
      }
    }

    .mini-map {
      padding-top: 5px;
      max-width: 26em;
      margin-top: 1em;
      margin-bottom: 1em;

      img {
        max-width: 26em;
      }
    }
  }
}

.news {
  @extend .animation-content-appear;
  background: rgb(240,240,240);
  border: 1px solid rgb(210,210,210);
  border-radius: 4px;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0, 0.1);
  margin: 0 auto;
  position: relative;
  width: grid-width(12);

  .inner-wrapper {
    padding: 20px;
  }

  header {
    h2 {
      font: normal 18px/22px $sans-serif;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  .rss {
    ol.feed {
      @extend .clearfix;
      margin: 0px;

      li {
        @include box-sizing(border-box);
        float: left;
        list-style: none;
        margin-bottom: 10px;
        padding: 0px 10px;
        width: 50%;

        &:last-child {
          margin: 0px;
        }

        a {
          @include background-image(linear-gradient(-90deg, rgb(250,250,250), rgb(240,240,240)));
          border-radius: 3px;
          border: 1px solid rgb(200,200,200);
          @include box-sizing(border-box);
          box-shadow: 0 1px 0 0 rgba(255,255,255, 0.6);
          color: $lighter-base-font-color;
          display: block;
          font: bold 14px/14px $sans-serif;
          overflow: hidden;
          padding: 12px 10px 10px;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;

          span.post-date {
            display: inline-block;
            margin: 0px 10px 3px 0px;
            font: normal 14px/14px $serif;
          }


          &:hover {
            background: rgb(230,230,230);
            @include background-image(linear-gradient(-90deg, rgb(240,240,240), rgb(230,230,230)));
            color: $pink;
            text-shadow: 0 1px rgba(255,255,255, 0.4);
          }
        }
      }
    }
  }
}

.awesome-chapters {
  display: none;
  border-radius: 4px;
  @include column-count(4);
  @include column-gap($gw-gutter);
  @include column-width(grid-width(3));
  margin: 0 auto;
  padding-top: 40px;
  width: grid-width(12);

  a {
    color: $base-font-color;
    display: block;
    font: bold 14px/20px $sans-serif;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }
}




/**********************************************/
/*               Responsiveness               */
/**********************************************/

@media (max-width:$maximum-width) {
  .awesome-wrapper {
    .awesome-projects {
      .tagline {
        width: 100%;
        display: block;
        .inner-wrapping {
          margin-right: 18px;
          margin-bottom: 10px;
        }
      }
      .project {
        width: 33%;
      }
    }
  }
  
  .what-how,
  .who-where {
    h2 {
      span.divider {
        @include background-image(linear-gradient(0deg, rgba($base-font-color, 0) 0%, rgba($base-font-color, 0.5) 25%, rgba($base-font-color, 0.6) 50%, rgba($base-font-color, 0.6) 75%, rgba($base-font-color, 0) 100%));
        display: block;
        height: 1px;
        margin: 15px auto;
        width: 90px;
      }
    }
  }
  
  
}

@media (max-width:46em) { 
  .awesome-wrapper {
    .awesome-projects {
      .tagline {
      .inner-wrapping {
          margin-right: 16px;
        }
      }
    }
  }
}


@media (max-width:$mobile-standard) { 
  .awesome-wrapper {
    .awesome-projects {
      .tagline {
        .inner-wrapping {
          margin-right: 10px;
          .wrapper-2 {
            .message {
              h1 {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
        }
      }
      .project {
        width: 50%;
      }
    }
  }
  .who-where {
    .about-preview {
      .mini-map {
        max-width: 260px;
        img {
          max-width: 260px;
        }
      }
    }
  }
  .what-how {
    .need-funding {
      .description {
        margin-bottom: 2em;
      }
      .info-graphic {
        .graphic {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}

