.invitation-form {
  form {
    .invitee-name {
      @extend .clearfix;
    }

    div.input {
      &.string {
        float: left;
        margin-right: $gw-gutter;
        width: grid-width(3);

        &:last-child {
          margin-right: 0px;
        }
      }

      &.select {
        border: {
          bottom: 1px solid rgb(200,200,200);
        }
        margin-bottom: 20px;
        padding: 0px 0px 20px 0px;
      }
    }
  }
}
