.invitation-form {
  form {
    .invitee-name {
      @extend .clearfix;
    }

    p {
      font: bold 14px/16px $sans-serif;
      margin-bottom: 35px;

      span {
        border-bottom: 1px dotted rgb(60,60,60);
        font: 300 16px/18px $sans-serif;
        margin-left: 10px;
        padding-bottom: 3px;
      }
    }

    div.input {
      &.string {
        float: left;
        margin-right: $gw-gutter;
        width: grid-width(3);

        &:last-child {
          margin-right: 0px;
        }
      }

      &.select {
        border: {
          bottom: 1px solid rgb(200,200,200);
        }
        margin-bottom: 20px;
        padding: 0px 0px 20px 0px;
      }
    }
  }
}
