@media all and (max-width:$maximum-width) {
  body {
    section.container, footer {
      width: 100%;
    }

    header.main {
      min-width: inherit;
      nav {
        width: 100%;
        padding: 0px 15px;
        ol {
          float: none;
          clear: both;
          display: none;
          max-width: unset;
        }
      }
      .hamburger {
        display: inline;
      }
    }
  }
}

.hamburger {
  display: none;
  background: image-url('hamburger-small.png');
  background-repeat: no-repeat;
  background-size: 30px 20px;
  width: 30px + 20px;
  height: 20px + 20px;
  background-position: 10px 10px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.shownav > ol {
  display: block !important;
}

header.main {
    ol {
        li {
            white-space: nowrap;
        }

        max-width: 600px;
    }
}

@media all and (max-width: $mobile-standard) {
  body {
    header.main {
      nav a.logo h1 {
        font-size: 13px;
      }
    }
  }
}
