// Flickr-style from http://mislav.uniqpath.com/will_paginate/
.pagination {
  text-align: center;
  padding: 1em 0;
  cursor: default;
  font-size: 0.8em;

  a, span, em {
    padding: 0.2em 0.5em;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }

  a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white;
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }
}



/**********************************************/
/*               Responsiveness               */
/**********************************************/

@media (max-width:$maximum-width) {
  .pagination {
    a:not(.previous_page):not(.next_page) {
      display: none;
    }
    
    .gap {
      display: none;
    }
  }
}