.application-intro {
  margin-bottom: 40px;

  h1 {
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font: normal 14px/20px $sans-serif;
    text-align: center;
  }
}

.project-form {
  form {
    .project-section,
    .descriptions,
    .image-upload,
    .personal-info,
    .project-info,
    .extra-questions {
      @extend .clearfix;
      border-bottom: 1px solid rgb(200,200,200);
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    .chapter-select {
      padding-bottom: 10px;
    }

    div.input {
      &.tel {
        float: left;
        width: grid-width(3);
      }

      &.email {
        float: left;
        margin-right: $gw-gutter;
        width: grid-width(3);
      }

      &.select {
        border-bottom: 1px solid rgb(200,200,200);
        margin-bottom: 20px;
        padding-bottom: 30px;
      }
    }

    textarea {
      &.project-desc {
        padding-bottom: 20px;
      }

      &.optional {
        height: 100px;
      }
    }

    .image-upload {
      .current-images {
        border-bottom: 1px solid rgb(200,200,200);
        margin-bottom: 30px;
        padding-bottom: 20px;

        label {
          margin-bottom: 15px;
          span {
            font-weight: normal;
          }
        }

        ul.old-photos {
          li {
            background: rgb(255, 255,255);
            border: 1px solid rgb(200,200,200);
            border-radius: 20px;
            box-shadow: 0 1px 0 0 rgba(255,255,255, 0.75), inset 0 0 3px 0 rgba(0,0,0, 0.2);
            @include linear-gradient(rgb(246,246,246), rgb(253,253,253));
            list-style: none;
            margin-bottom: 10px;
            padding: 10px 15px;

            &:last-child {
              margin: 0px;
            }

            a.remove-image {
              color: $base-font-color;
              float: right;
              margin-right: 5px;

              &:hover {
                color: $pink;
              }
            }

            &:hover {
              background: rgb(230,230,230);
              cursor: move;
            }
          }
        }
      }
    }

    .input.file {
      label {
        span {
          font-weight: normal;
        }
      }

      .toggle-uploader {
        margin-top: 1em;
        text-align: right;
      }

      .multi-input {
        background: rgb(255,255,255);
        border-top: 1px solid rgb(200,200,200);
        border: 1px solid rgb(200,200,200);
        border-radius: 20px;
        box-shadow: 0 1px 0 0 rgba(255,255,255, 0.75), inset 0 0 3px 0 rgba(0,0,0, 0.2);
        @include linear-gradient(rgb(246,246,246), rgb(253,253,253));
        margin-bottom: 10px;
        padding: 8px 15px;

        &:last-child {
          margin: 0px;
        }

        &.noremove {
          background: transparent;
          border: none;
          box-shadow: none;
          margin: 5px 0 10px 0;

          a.remove-image {
            display: none;
          }
        }

        p {
          margin-bottom: 0;
        }

        a.remove-image {
          color: $base-font-color;
          float: right;
          margin-right: 5px;
          padding-top: 1px;

          &:hover {
            color: $pink;
          }
        }

        i.upload-status {
          display: none;
          float: left;
          margin-top: 2px;
          margin-right: 5px;
        }

        .progress-meter {
          display: none;
          background: #ddd;
          height: 1px;
          margin-top: 1px;
          width: 0;
        }
      }
    }
  }
}
