body.projects-index {
  section.container {
    @extend .clearfix;
  }
}

.admin-pannel {
  background: rgb(230,230,230);
  float: left;
  height: 400px;
  margin-right: $gw-gutter;
  width: grid-width(3);
}

.applications {
  float: left;
  width: grid-width(9);

  .application-filters {
    background: rgb(230,230,230);
    height: 60px;
    margin-bottom: 40px;
    width: grid-width(9);
  }

  article.application {
    background: rgb(230,230,230);
    margin-bottom: 30px;

    header.title {
      background: rgb(220,220,220);
      border-bottom: 1px solid rgb(200,200,200);

      div {
        @extend .clearfix;
        border-bottom: 1px solid rgb(200,200,200);
        padding: 10px;

        h2 {
          float: left;
          margin: 0px;
        }

        a.short-list {
          @include button;
          float: right;
          text-decoration: none;
        }

        a.mark-as-winner {
          @include button;
          float: right;
          margin-left: 10px;
          text-decoration: none;
        }
      }

      .meta-data {
        padding: 10px;
      }
    }

    section.application-details {
      padding: 10px;

      .project-pitch {
      }

      .details-toggle {
      }
    }
  }
}
