body.projects-index {
  section.container {
    @extend .clearfix;
  }
}

.admin-pannel {
  border-right: 1px solid rgb(200,200,200);
  float: left;
  margin-right: 39px;
  padding: 0px 20px 20px 0px;
  width: 180px;

  .user-profile-image {
    @extend .user-avatar;
  }

  h2 {
    border-bottom: 1px dotted rgb(200,200,200);
    font: 300 18px/20px $sans-serif;
    margin: 15px 0px;
    padding-bottom: 30px;
    text-align: center;
  }

  ol {
    margin: 0px;

    li {
      border-bottom: 1px dotted rgb(200,200,200);
      list-style: none;
      margin-bottom: 15px;
      padding: 0px 0px 15px 0px;

      &:first-child {
        border-top: none;
      }

      &.section-title {
        padding: 15px 0px 5px 0px;
      }

      h3 {
        color: $base-font-color;
        font: bold 14px/22px $sans-serif;
      }

      a {
        color: rgb(55,55,55);
        display: block;
        font: normal 12px/14px $sans-serif;
        padding: 5px 0px 5px 10px;
        text-decoration: none;

        &:hover {
          background: $pink;
          color: rgb(255,255,255);
        }
      }
    }
  }
}

.applications {
  float: left;
  width: grid-width(9);

  .application-filters {
    @extend .clearfix;
    background: rgb(230,230,230);
    border: 1px solid rgb(200,200,200);
    @include border-radius(4px);
    @include box-shadow(inset 0 -1px 0 0 rgba(255,255,255, 0.3), inset 0 1px 0 0 rgba(255,255,255, 0.8));
    @include linear-gradient(rgb(240,240,240), rgb(220,220,220));
    margin-bottom: 40px;
    position: relative;
    width: grid-width(9);

    nav {
      float: left;
      padding: 10px;
      position: relative;

      a.chapter-selection {
        background: rgb(230,230,230);
        border: 1px solid rgb(190,190,190);
        @include border-radius(3px);
        display: block;
        margin: 0px;
        padding: 5px 40px 5px 10px;
        text-decoration: none;
        width: 150px;
        z-index: 2;

        &:hover {
          background: rgb(220,220,220);
        }

        span {
          color: rgb(55,55,55);
          font: normal 16px/18px $sans-serif;
          text-shadow: 0 1px rgba(255,255,255, 0.75);
        }

        span.arrow {
          border: {
            top: 7px solid rgb(150,150,150);
            right: 7px solid transparent;
            bottom: 7px solid transparent;
            left: 7px solid transparent;
          }
          position: absolute;
          top: 22px;
          right: 25px;
        }

        &.expanded {
          background: rgb(220,220,220);
          border: 1px solid rgb(150,150,150);
          @include border-radius(3px 3px 0px 0px);
          cursor: pointer;
        }
      }

      ol.chapter-selector {
        background: rgb(255,255,255);
        border: 1px solid rgb(150,150,150);
        @include border-bottom-radius(4px);
        @include box-shadow(0 3px 5px 0 rgba(0,0,0, 0.2));
        max-height: 450px;
        left: 10px;
        opacity: 0;
        overflow-y: auto;
        padding-bottom: 10px;
        position: absolute;
        top: 39px;
        visibility: hidden;
        width: 200px;
        z-index: 1;

        li {
          border-bottom: 1px solid rgb(200,200,200);
          list-style: none;
          margin: 0 5px;
          padding: 3px 0px;

          &:last-child {
            border: none;
          }

          a {
            color: rgb(55,55,55);
            display: block;
            padding: 5px 8px;
            text-decoration: none;

            &:hover {
              background: $pink;
              color: rgb(255,255,255);
            }
          }
        }

        &.expanded {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    form.filter {
      float: right;
      padding: 10px;

      div.short-list-toggle {
        float: left;
        margin-right: 20px;
        position: relative;

        input[type="checkbox"] {
          left: 12px;
          position: absolute;
          top: 10px;
        }

        label {
          background: rgb(230,230,230);
          border: 1px solid rgb(190,190,190);
          @include border-radius(3px);
          font: normal 12px $sans-serif;
          height: 22px;
          margin: 0px;
          text-shadow: 0 1px rgba(255,255,255, 0.8);
          padding: 8px 12px 0px 30px;

          &:hover {
            background: rgb(220,220,220);
            cursor: pointer;
          }
        }

        input[type="checkbox"]:checked + label {
          background: rgb(220,220,220);
          cursor: pointer;
        }
      }

      div.date-range {
        float: left;
        margin-right: 10px;

        label {
          display: none;
        }

        input[type="text"] {
          color: rgb(180,180,180);
          height: 30px;
          width: 100px;

          &:focus {
            color: rgb(55,55,55);
          }
        }
      }

      input[type="submit"] {
        @include button(rgb(230,230,230));
        margin: 0px;
        width: auto;
      }
    }
  }

  h1 {
    color: $base-font-color;
    font: bold 18px/22px $sans-serif;
    text-transform: uppercase;
  }

  article.project {
    border: 1px solid rgb(200,200,200);
    background: rgb(255,255,255);
    @include border-radius(4px);
    @include box-shadow(0 1px 6px 0 rgba(0,0,0, 0.15));
    margin-bottom: 40px;

    header {
      @include border-top-radius(4px);

      div.title {
        @extend .clearfix;
        border-bottom: 1px solid rgb(200,200,200);
        padding: 10px;

        a {
          color: $base-font-color;
          float: left;
          font: bold 24px $sans-serif;
          text-decoration: none;

          &:hover {
            color: $pink;
          }
        }

        a.short-list,
        a.mark-as-winner {
          @include button(rgb(240,240,240));
          float: right;
          margin-left: 10px;
          text-decoration: none;

          &.short-list:hover {
            @include button($pink);
          }

          &.mark-as-winner:hover {
            @include button(rgb(34,122,255));
          }
        }
      }

      .meta-data {
        padding: 5px 10px;

        span {
          font: normal 12px/14px $sans-serif;
          margin-right: 10px;
        }

        .spam {
          float: right;
          margin: 0px;

          a {
            color: $base-font-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    section.project-proposal-details {
      overflow: hidden;
      position: relative;

      p {
        padding: 15px 20px 20px 20px;
        margin: 0px;
      }

      .project-pitch {
        font: normal 16px/20px $serif;
      }

      .details-toggle {
      }

      .see-more {
        background: rgba(245, 245, 245, 1);
        border-top: 1px solid rgb(200,200,200);
        @include border-bottom-radius(4px);
        color: $pink;
        display: block;
        text-decoration: none;
        @include transition(all 0.2s ease-out);

        p {
          font: 300 12px/14px $sans-serif;
          padding: 5px 10px;
          text-align: right;
        }

        &:hover {
          background: rgba(230, 230, 230, 1);
          text-decoration: underline;
        }
      }
    }
  }

  article.project.shortlisted {
    border: 1px solid $pink;
    @include box-shadow(0 1px 6px 0 rgba($pink, 0.6));

    div.title {
      a.short-list {
        @include button($pink);
      }
    }
  }

  article.project.winner {
    border: 1px solid $blue;
    @include box-shadow(0 1px 6px 0 rgba($blue, 0.6));

    div.title {
      a.mark-as-winner {
        @include button($blue);
      }
    }
  }
}
