.project-form {
  form {
    .personal-info,
    .project-info {
      @extend .clearfix;
      border-bottom: 1px solid rgb(200,200,200);
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    div.input {
      &.tel {
        float: left;
        width: grid-width(3);
      }

      &.email {
        float: left;
        margin-right: $gw-gutter;
        width: grid-width(3);
      }

      &.select {
        border: {
          bottom: 1px solid rgb(200,200,200);
          top: 1px solid rgb(200,200,200);
        }
        margin-bottom: 20px;
        padding: 30px 0px;
      }
    }

    textarea {
      &.project-desc {
        margin-bottom: 20px;
      }

      &.about-me {
        height: 100px;
      }
    }
  }
}
