.application-intro {
  margin-bottom: 40px;

  h1 {
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font: normal 14px/20px $sans-serif;
    text-align: center;
  }
}

.project-form {
  form {
    .personal-info,
    .project-info {
      @extend .clearfix;
      border-bottom: 1px solid rgb(200,200,200);
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    div.input {
      &.tel {
        float: left;
        width: grid-width(3);
      }

      &.email {
        float: left;
        margin-right: $gw-gutter;
        width: grid-width(3);
      }

      &.select {
        border: {
          bottom: 1px solid rgb(200,200,200);
          top: 1px solid rgb(200,200,200);
        }
        margin-bottom: 20px;
        padding: 30px 0px;
      }
    }

    textarea {
      &.project-desc {
        padding-bottom: 20px;
      }

      &.about-me {
        height: 100px;
      }
    }

    .input.file {
      padding: 20px 0px 10px;

      .multi-input {
        background: rgb(230,230,230);
        border-top: 1px solid rgb(200,200,200);
        padding: 10px 5px;

        &.noremove {
          background: transparent;
          border: none;
          margin: 5px 0 10px 0;

          a.remove-image {
            display: none;
          }
        }


        a.remove-image {
          color: $base-font-color;
          float: right;
          margin-right: 5px;
          padding-top: 4px;

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}
