/**
 * Base mobile styling to apply to all dashboard views
 *
 * The idea: two width cutoffs:
 * 
 */
$narrow: 768px;

@media all and (max-width: $narrow) {

	body.projects-index, body.finalists-index {
	  section.container, footer {
		width: 100%;
	  }
	  
	  header.main {
		min-width: inherit;
		nav {
			width: 100%;
			padding: 0px 15px;
			ol {
				float: none;
			}
		}
	  }
	}
	
}