body.projects-index {
  section.container {
    @extend .clearfix;
  }
}

.admin-pannel {
  //background: rgb(230,230,230);
  border-right: 1px solid rgb(200,200,200);
  float: left;
  height: 400px;
  margin-right: 39px;
  padding-right: 20px;
  width: 180px;

  div.avatar {
    background: rgb(50,50,50);
    border: 1px solid rgb(50,50,50);
    @include border-radius(70px);
    @include box-shadow(inset 0 0 5px 0 rgba(0, 0, 0, 0.2));
    display: block;
    height: 115px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    width: 115px;

    img {
      height: 115px;
      width: 115px;
    }
  }

  a {
    @include button(rgb(230,230,230));
    display: block;
    margin: 0 auto 15px auto;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    width: 160px;
  }
}

.applications {
  float: left;
  width: grid-width(9);

  .application-filters {
    @extend .clearfix;
    background: rgb(230,230,230);
    border: 1px solid rgb(200,200,200);
    @include border-radius(4px);
    margin-bottom: 40px;
    width: grid-width(9);

    h1 {
      font: 300 22px $helvetica;
      float: left;
      margin: 0px 20px 0px 0px;
      padding: 10px;
    }

    form.filter {
      float: right;
      padding: 10px;

      div.short-list-toggle {
        float: left;
        margin-right: 30px;

        label {
          background: rgb(230,230,230);
          border: 1px solid rgb(190,190,190);
          @include border-radius(3px);
          text-shadow: 0 1px rgba(255,255,255, 0.8);
          padding: 6px 12px 5px 12px;

          &:hover {
            background: rgb(220,220,220);
            cursor: pointer;
          }

          input[type="checkbox"] {
            margin-top: 2px;
            vertical-align: middle;
          }
        }
      }

      div.date-range {
        float: left;
        margin-right: 10px;

        label {
          display: none;
        }

        input[type="text"] {
          border: 1px solid rgb(200,200,200);
          @include border-radius(3px);
          @include box-shadow(inset 0 0 3px 0 rgba(0,0,0, 0.2));
          height: 20px;
          width: 100px;
        }
      }

      input[type="submit"] {
        @include button(rgb(230,230,230));
        margin: 0px;
      }
    }
  }

  article.project {
    border: 1px solid rgb(200,200,200);
    background: rgb(255,255,255);
    @include border-radius(4px);
    @include box-shadow(0 1px 6px 0 rgba(0,0,0, 0.15));
    margin-bottom: 40px;

    header {
      background: rgba(240, 240, 240, 1);
      border-bottom: 1px solid rgb(200,200,200);
      @include border-top-radius(4px);

      &.short-listed {
        background: $pink;

        section.meta-data {
          background: $pink;
        }
      }

      div.title {
        @extend .clearfix;
        border-bottom: 1px solid rgb(200,200,200);
        padding: 10px;

        a {
          color: rgb(50,50,50);
          float: left;
          font: bold 24px $helvetica;
          text-decoration: none;

          &:hover {
            color: rgb(100,100,100);
          }
        }

        a.short-list,
        a.mark-as-winner {
          @include button(rgb(230,230,230));
          float: right;
          margin-left: 10px;
          text-decoration: none;

          &:hover {
            @include button($pink);
          }

          &.short-listed {
            @include button($pink);
          }
        }
      }

      .meta-data {
        padding: 5px 10px;

        span {
          font: normal 12px/14px $helvetica;
          margin-right: 10px;
        }
      }
    }

    section.project-proposal-details {
      overflow: hidden;
      position: relative;

      p {
        padding: 15px 10px;
        margin: 0px;
      }

      .project-pitch {
        font: normal 14px/18px $times;
      }

      .details-toggle {
      }

      .see-more {
        background: rgba(240, 240, 240, 1);
        border-top: 1px solid rgb(200,200,200);
        @include border-bottom-radius(4px);
        display: block;
        text-decoration: none;
        @include transition(all 0.2s ease-out);

        p {
          color: rgb(50,50,50);
          font: 300 12px/14px $helvetica;
          padding: 5px 10px;
          text-align: right;
        }

        &:hover {
          background: rgba(230, 230, 230, 1);
        }
      }
    }
  }
}
