.top {
  margin: 0 auto;
  margin-bottom: 10px;
  width: grid-width(10);

  .titles {
    h1 {
      margin-bottom: 5px;
    }

    .title-data {
      p {
        @include inline-block;
        margin-right: 20px;
      }
    }
  }
}

.media-wrapper {
  background: rgb(230,230,230);
  margin-bottom: 40px;
  padding: 10px 0;
  width: 100%;

  .project-media {
    background: white;
    height: 300px;
    margin: 0 auto;
    width: grid-width(10);
  }
}

.project-details {
  @extend .clearfix;
  margin: 0 auto;
  margin-bottom: 100px;
  width: grid-width(10);

  .description {
    float: left;
    margin-right: $gw-gutter;
    width: grid-width(6);
  }

  .side-bar {
    background: rgb(230,230,230);
    float: left;
    padding: 10px;
    width: grid-width(4) - 20;
  }
}
