body.projects-show:not(.projects-index) {
  .container-wrapper {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

header {
  a.edit-project {
    @include button(rgb(240,240,240));
    text-decoration: none;
    padding: 7px 12px 6px;
    margin-top: 10px;
    float: right;
    font-size: 0.8em;
  }
  
  .prev-next-links {
    margin-bottom: 5px;

    a {
      color: $pink;
      text-decoration: none;
      font-size: 0.8em;

      &:hover {
        text-decoration: underline;
      }
    }

    .prev-project {
      float: left;
    }

    .next-project{
      float: right;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

header.project {
  margin-bottom: 12px;

  h1 {
    font: normal 34px $sans-serif;
    display: inline-block;
    margin: 0px;
  }
}

#project-gallery {
  position: relative;
  margin: 0px auto 40px;
  background: #646464;
  border: 2px solid #646464;
  
  .image {
    line-height: 0;
    overflow: hidden;
    
    &.large-square:first-child {
      margin-right: 2px;
    }
    
    &.small-rectangle:first-child {
      margin-bottom: 2px;
    }
    
    &.small-square:first-child {
      margin-right: 2px;
    }
    
    &.small-square.on-top {
      margin-bottom: 2px;
    }
    
    &.large-rectangle img {
      max-width: 940px;
      max-height: 470px;
    }
    
    &.small-rectangle img {
      max-width: 468px;
      max-height: 234px;
    }
    
    &.large-square img {
      max-width: 470px;
      max-height: 470px;
    }
    
    &.small-square img {
      max-width: 234px;
      max-height: 234px;
    }
    
    &.not-shown {
      display: none;
    }
    
    img {
      margin: 0px;
      width: 100%;
      height: auto;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -moz-transition-duration: .5s;
      -webkit-transition-duration: .5s;
      transition-duration: .5s;
    }
    
    &:not(.placeholder):hover img {
      cursor: pointer;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -moz-transition-duration: .5s;
      -webkit-transition-duration: .5s;
      transition-duration: .5s;
    }
    
  }
  
  .view-photos {
    position: absolute;
    bottom: 20px;
    right: 20px;
        
    @include button(rgb(240,240,240));
    text-decoration: none;
    padding: 7px 12px 6px;
    font-size: 0.8em;
  }
  
}

.project-details {
  @extend .clearfix;
  margin: 0px auto;
  max-width: grid-width(12);
  width: 100%;
  
  .meta-data {
    @extend .clearfix;
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: 30px;

    p {
      color: rgb(100,100,100);
      font: normal 14px/22px $sans-serif;
      float: left;

      span {
        a {
          color: $pink;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    div.addthis_toolbox {
      float: right;
    }
  }

  .project-description {
    max-width: grid-width(8);

    h2 {
      font: normal 18px/22px $sans-serif;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    p + h2 {
      margin-top: 40px;
    }

    p, li {
      color: $lighter-base-font-color;
      font: normal 14px/22px $sans-serif;
    }
  }

  .project-side-bar {
    max-width: grid-width(4);
    margin-bottom: 20px;
    
    .project-state {
      margin-bottom: 15px;

      p {
        color: $base-font-color;
        font: normal 16px/20px $sans-serif;
        margin: 0px;

        span.chapter-name {
          text-transform: uppercase;
        }
      }
    }

    .project-site-link {
      margin-bottom: 15px;

      a {
        @include af-button();
        display: block;
        font: normal 16px/20px $sans-serif;

        span {
          float: right;
        }
      }
    }

    .project-rss {
      background: rgb(240,240,240);
      border: 1px solid rgb(200,200,200);
      border-radius: 3px;
      margin-bottom: 15px;
      padding: 20px 15px 30px;

      a {
        color: $lighter-base-font-color;
        font: normal 12px/20px $sans-serif;
        text-decoration: none;

        &:hover {
          color: $pink;
        }
      }

      h2 {
        font: normal 18px/20px $sans-serif;
        margin-bottom: 20px;
      }

      ol.feed {
        margin: 0px;
        padding: 0px;

        li {
          list-style: none;
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;

          &:last-child {
            margin: 0px;
          }

          span.post-date {
            margin-right: 12px;
            font: normal 12px/20px $serif;
          }
        }
      }
    }
  }
}



/**********************************************/
/*               Responsiveness               */
/**********************************************/

@media (max-width:$maximum-width) {
  
  .project-details {
    .project-description {
      max-width: 100%;
      }
    
    .project-side-bar {
      margin-top: 24px;
      max-width: 100%;
    }
  }
 
}



