body.projects-show {
  section.container {
  }
}

header {
  a.edit-project {
    @include button(rgb(240,240,240));
    text-decoration: none;
    padding: 7px 12px 6px;
    margin-top: 10px;
    float: right;
  }
}

header.project {
  margin-bottom: 12px;

  h1 {
    font: normal 34px $sans-serif;
    @include inline-block;
    margin: 0px;
  }
}

.project-gallery {
  background: rgb(45,45,45);
  height: grid-width(12)/2;
  margin-bottom: 40px;
  position: relative;
  width: grid-width(12);
  @extend .clearfix;

  .arrow {
    background: rgba(0,0,0, 0.4);
    @include border-radius(60px);
    color: rgba(255,255,255, 0.6);
    font: normal 40px $sans-serif;
    height: 120px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 175px;
    @include transition(all 0.15s ease-in);
    width: 120px;

    &:hover {
      background: rgba($pink, 1);
      cursor: pointer;
    }

    &.left {
      background-image: url("arrow_left.png");
      background-position: center center;
      background-repeat: no-repeat;
      left: -60px;
    }

    &.right {
      background-image: url("arrow_right.png");
      background-position: center center;
      background-repeat: no-repeat;
      right: -60px;
    }
  }

  .image-wrapper {
    height: 470px;
    overflow: hidden;
    width: grid-width(12);
    list-style: none;

    img {
      max-width: 100%;
    }
  }

  &:hover {
    .arrow {
      opacity: 1;
    }
  }
}

.project-details {
  @extend .clearfix;
  margin: 0px auto;
  width: grid-width(12);

  .meta-data {
    @extend .clearfix;
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: 30px;

    p {
      color: rgb(100,100,100);
      font: normal 14px/22px $sans-serif;
      float: left;

      span {
        a {
          color: $pink;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    div.addthis_toolbox {
      float: right;
    }
  }

  .project-description {
    float: left;
    margin-right: $gw-gutter;
    width: grid-width(8);

    h2 {
      font: normal 18px/22px $sans-serif;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    p + h2 {
      margin-top: 40px;
    }

    p, li {
      color: $lighter-base-font-color;
      font: normal 14px/22px $sans-serif;
    }
  }

  .project-side-bar {
    float: left;
    width: grid-width(4);

    .project-state {
      margin-bottom: 15px;

      p {
        color: $base-font-color;
        font: normal 16px/20px $sans-serif;
        margin: 0px;

        span.chapter-name {
          text-transform: uppercase;
        }
      }
    }

    .project-site-link {
      margin-bottom: 15px;

      a {
        @include af-button();
        display: block;
        font: normal 16px/20px $sans-serif;

        span {
          float: right;
        }
      }
    }

    .project-rss {
      background: rgb(240,240,240);
      border: 1px solid rgb(200,200,200);
      @include border-radius(3px);
      margin-bottom: 15px;
      padding: 20px 15px 30px;

      a {
        color: $lighter-base-font-color;
        font: normal 12px/20px $sans-serif;
        text-decoration: none;

        &:hover {
          color: $pink;
        }
      }

      h2 {
        font: normal 18px/20px $sans-serif;
        margin-bottom: 20px;
      }

      ol.feed {
        margin: 0px;
        padding: 0px;

        li {
          list-style: none;
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;

          &:last-child {
            margin: 0px;
          }

          span.post-date {
            margin-right: 12px;
            font: normal 12px/20px $serif;
          }
        }
      }
    }
  }
}
