footer {
  height: 100px;
  max-width: $maximum-width;
  width: 100%;

  p {
    padding: 10px 0;
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    
    &:first-child {
      padding-top: 20px;  
      border-top: 1px solid rgb(200,200,200);
    }
    
    a:link, a:visited {
      color: $lighter-base-font-color;
      font: normal 12px/14px $sans-serif;
      margin: 0 10px;
      padding-bottom: 3px;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;

      &:hover {
        border-bottom: 3px solid $pink;
      }
    }

    span {
      margin: 0 10px;
    }
  }

  ol {
    li {
      float: left;
      list-style: none;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
