//*******************************************************************
//
// Base Input Styles
//
//*******************************************************************

label {
  font: bold 14px/16px $sans-serif;
  margin-bottom: 3px;

  &.required {
    margin-left: -9px;

    abbr {
      border: none;
      color: $pink;
    }
  }
}

input[type="password"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"] {
  border: 1px solid rgb(170,170,170);
  @include border-radius(3px);
  @include box-shadow(0 1px 0 0 rgba(255,255,255, 0.75), inset 0 0 3px 0 rgba(0,0,0, 0.2));
  @include box-sizing(border-box);
  font: normal 12px/14px $sans-serif;
  height: 35px;
  @include linear-gradient(rgb(246,246,246), rgb(253,253,253));
  margin: 0px;
  padding: 5px 8px;
  width: 100%;
}

textarea,
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"] {
  &:focus {
    border-color: $pink;
    @include box-shadow(inset 0 0 3px 0 rgba(0,0,0, 0.2), 0 0 5px 0 $pink);
    color: rgb(55,55,55);
    @include linear-gradient(rgb(246,246,246), rgb(253,253,253));
    outline: none;
  }
}

input[type="submit"] {
  @include button($pink);
  font: 300 24px $sans-serif;
  margin: 30px 0 10px 0;
  padding: 10px;
  width: 100%;
}

textarea {
  border: 1px solid rgb(170,170,170);
  @include border-radius(3px);
  @include box-shadow(0 1px 0 0 rgba(255,255,255, 0.75), inset 0 0 3px 0 rgba(0,0,0, 0.2));
  @include box-sizing(border-box);
  color: rgb(55,55,55);
  @include linear-gradient(rgb(246,246,246), rgb(253,253,253));
  font: normal 12px/14px $sans-serif;
  margin: 0px;
  padding: 10px 8px;
  resize: vertical;
  width: 100%;
}

//*******************************************************************
//
// Shared form styles: Clearance & Sessions
//
//*******************************************************************

body.clearance,
body.clearance-passwords,
body.clearance-users,
body.sessions,
body.sessions-new,
body.sessions-create {
  .container-wrapper {
    padding: 100px 0px 100px;
  }

  section.container {
    background: rgb(240,240,240);
    border: 1px solid rgb(200,200,200);
    @include border-radius(4px);
    margin: 0px auto;
    padding: 30px 40px;
    width: grid-width(6);
  }

  h2 {
    border-bottom: 1px solid rgb(200,200,200);
    font: 300 28px $sans-serif;
    margin-bottom: 40px;
    padding-bottom: 10px;
  }

  form {
    margin: 0 auto;
    width: grid-width(6);

    div.text_field {
      margin: 0 0 20px 0;
    }
  }

  ul {
    @extend .clearfix;

    li {
      list-style: none;
      float: right;
      margin-left: 10px;
    }
  }
}

//*******************************************************************
//
// Shared form styles:
//
//*******************************************************************

section.user-form,
section.project-form,
section.invitation-form,
section.chapter-form {
  background: rgb(240,240,240);
  border: 1px solid rgb(200,200,200);
  @include border-radius(4px);
  margin: 0 auto;
  padding: 30px 40px;
  width: grid-width(6);

  h1 {
    border-bottom: 1px solid rgb(200,200,200);
    font: 300 28px $sans-serif;
    margin-bottom: 40px;
    padding-bottom: 10px;
  }

  form {
    margin: 0 auto;
    width: grid-width(6);
  }

  div.input {
    margin: 0 0 20px 0;
  }

  label {
    &.select {
      margin-right: 10px;
      @include inline-block;
    }
  }

  select {
    margin: 0px;
    vertical-align: baseline;
  }
}
