//*******************************************************************
//
// Application Header
//
//*******************************************************************

header.main {
  background: rgb(45,45,45);
  border-bottom: 1px solid rgb(0,0,0);
  overflow: hidden;
  width: 100%;

  nav {
    @extend .clearfix;
    height: 70px;
    margin: 0 auto;
    position: relative;
    width: grid-width(12);

    a.logo {
      text-decoration: none;

      img.fast-forward {
        display: block;
        float: left;
        height: 30px;
        margin: 20px 0px 0px 0px;
        position: relative;
        width: 30px;
      }

      h1 {
        color: rgb(255,255,255);
        float: left;
        font: bold 18px/22px $sans-serif;
        margin: 18px 0px 0px 0px;
        padding: 6px 12px;
        text-transform: uppercase;
      }

      &:hover {

        img.fast-forward {
          @extend .animation-logo-wiggle;
        }

        h1 {
          color: $pink;
        }
      }
    }

    ol {
      height: 100%;
      margin: 0;

      li {
        float: right;
        list-style: none;
        margin: 28px 0px 20px 2px;

        &:last-child {
          margin-left: 0;
        }

        a {
          color: rgb(155,155,155);
          display: block;
          font: normal 12px/14px $sans-serif;
          margin: 0px 10px;
          padding-bottom: 3px;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            border-bottom: 3px solid $pink;
            color: rgb(255,255,255);
          }

          &.chapters.active {
            @extend .active-link;
          }
        }
      }
    }
  }
}

section.chapter-menu {
  background: rgb(80,80,80);
  @include background-image(radial-gradient(50% 50%, circle cover, rgb(110, 110, 110), rgb(70,70,70)));
  @include box-shadow(inset 0 -1px 8px 0 rgba(0,0,0, 0.2), inset 0 1px 5px 0 rgba(0,0,0, 0.2));
  height: 0px;
  overflow: hidden;
  padding: 0px 20px;
  top: 50px;
  @include transition(height, 0.5s, ease-out);
  width: auto;
  z-index: 2;

  &.expanded {
    border-bottom: 1px solid rgb(0,0,0);
    height: auto;
  }

  .inner-wrapper {
    margin: 20px auto;
    padding: 20px 0 0;
    width: grid-width(12);

    h1 {
      display: none;
      font: 300 24px/26px $sans-serif;
      text-align: center;
      text-transform: uppercase;
    }

    .chapters {
      @include border-radius(4px);
      @include column-count(4);
      @include column-gap($gw-gutter);
      @include column-width(grid-width(3));
      padding: 10px 0 10px 0;

      article.country {
        @include inline-block;
        width: grid-width(3);
      }

      h3 {
        color: rgb(255,255,255);
        font: bold 14px/18px $sans-serif;
        margin-bottom: 5px;
        padding: 0 0 3px 0;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(0,0,0, 0.3);
      }

      p + h3 {
        margin-top: 30px;
      }

      p {
        &:last-child {
          margin-bottom: 30px;
        }

        a {
          color: rgb(180,180,180);
          font: normal 14px/16px $sans-serif;
          padding: 3px 0;
          text-decoration: none;
          @include transition(all 0.2s linear);

          &:hover {
            color: rgb(255, 255, 255);
            border-bottom: 1px dotted $pink;
          }
        }
      }
    }
  }
}

body {
  &.home-index {
    a.home {
      @extend .active-link;
    }
  }

  &.projects-new {
    a.apply {
      @extend .active-link;
    }
  }

  &.chapters {
    a.chapters {
      @extend .active-link;
    }
  }

  &.projects-index,
  &.finalists-index {
    a.dashboard {
      @extend .active-link;
    }
  }
}
