footer {
  @extend .clearfix;
  border-top: 1px solid rgb(200,200,200);
  height: 100px;
  margin: 0 auto;
  padding-top: 10px;
  width: grid-width(12);

  p {
    padding: 10px 0;
    text-align: center;

    a:link, a:visited {
      color: $lighter-base-font-color;
      font: normal 12px/14px $sans-serif;
      margin: 0 10px;
      padding-bottom: 3px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border-bottom: 3px solid $pink;
      }
    }
  }

  ol {
    li {
      float: left;
      list-style: none;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
