#flash {
  #flash_thanks {
    background: $pink;
    border: none;
    border-radius: 0;
    color: rgb(255,255,255);
    font: bold 18px/22px $sans-serif;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
  }

  #flash_notice {
    background: rgb(90,90,90);
    border: 1px solid rgb(60,60,60);
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(255,255,255, 0.75);
    color: rgb(255,255,255);
    font: bold 14px/16px $sans-serif;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;
  }
}
