header.users {
  margin-bottom: 30px;

  h1 {
    color: $base-font-color;
    font: bold 38px/44px $sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}

section.awesome-members {
  background: rgb(240,240,240);
  border: 1px solid rgb(170,170,170);
  @include border-radius(4px);
  margin: 20px auto;
  padding: 30px 40px;

  table.members {
    tr {
      td {
        text-transform: capitalize;

        h2 {
          color: $base-font-color;
          font: bold 12px/16px $sans-serif;
          display: inline;
        }

        .demote-user,
        .promote-user {
          @include button(rgb(240,240,240));
          @include inline-block;
          font-weight: normal;
          padding: 5px 0px 3px;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 1px rgba(255,255,255, 0.4);
          display: none;
        }

        &.trustee {
          a.promote-user {
            display: block;
          }
        }

        &.dean {
          a.demote-user {
            display: block;
          }
        }
      }

      &.admin {
        td.promote-demote-admin {
          a.demote-user {
            display: block;
          }
        }
      }

      &.non_admin {
        td.name {
          span {
            display: none;
          }
        }
        td.promote-demote-admin {
          a.promote-user {
            display: block;
          }
        }
      }
    }
  }
}
