name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04

    env:
      PGHOST: localhost
      PGUSER: postgres
      PGPASSWORD: postgres
      RAILS_ENV: test

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: postgres
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Install Postgres Libraries
      run: |
        sudo apt-get install -yqq libpq-dev

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true # runs 'bundle install' and caches installed gems

    - name: Set up database
      run: |
        bundle exec rake db:create
        bundle exec rake db:migrate --trace

    - name: Build and test
      run: bundle exec rake
